{% set published = true %}
{% if event.tovalid == false or event.valid == false or event.published == false or event.deleted %}
    {% set published = false %}
{% endif %}
<div class="event_item pd_10 search_item" data-text="{{ event.title }}">
	<div class="event_image {% if published == false %}op5{% endif %}">
        {# twig extension #}
        {% set illustration = eventIllustration(event) %}

		<a href="{{ path('event_view', {'slug': event.slug}) }}" >
			<span class="detail">
				<span class="f_l">
					{% if isCurrent(event) %}
						En cours
					{% endif %}
					{% if isUpcomming(event) %}
						A venir
					{% endif %}
					{% if isPassed(event) %}
						Passé
					{% endif %}
				</span>
				{% set participants = getGoingParticipations(event) %}
				{% if participants | length > 0 %}
					<span class="f_r">
						{% if participants | length > 1 %}
							{{ participants | length }} participants
						{% else %}
							{{ participants | length }} participant
						{% endif %}
					</span>
				{% endif %}
				<span class="both"></span>
			</span>
			<img src="{{ illustration | imagine_filter('600x250') }}?v=001" alt="{{ event.title }}" />
		</a>
	</div>
	
	{% if event.showAuthor %}
		{% set avatar = userAvatar(event.user) %}
		<div class="avatar_wrap">
			{% set userInfo = getLinkUserInfo(event.user, '<img src="'~ avatar | imagine_filter("80x80") ~'" alt="'~ getAcronym(event.user.name) ~'" />' ) %}
			{{ userInfo | raw }}
		</div>
	{% endif %}
	<div class="event_title ta_c {% if published == false %}op5{% endif %}">
		<a href="{{ path('event_view', {'slug': event.slug}) }}"><strong>{{ event.title }}</strong></a>
	</div>

	<div class="meta_info">
		<div class="both"></div>

		<div class="et_date_info ta_c mg_v5">
			<i class="fas fa-calendar-alt"></i> 
			{% if event.datebegin | date("Y-m-d") == event.dateend | date("Y-m-d") %}
				<strong>{{ getDateLabel(event.datebegin, true) }}</strong>
			{% else %}
				<strong>{{ getDateLabel(event.datebegin, true) }}</strong> - 
				<strong>{{ getDateLabel(event.dateend, true) }}</strong>
			{% endif %}
		</div>
		<div class="event_action ta_c mg_v5">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				{% if event.user.id == app.user.id %}
					<a class="standar_button" href="{{ path('event_manager_edit', {'event_id': event.id}) }}">Editer</a>
            	{% endif %}
            {% endif %}

			<a class="standar_button" href="{{ path('event_view', {'slug': event.slug}) }}">Voir l'évènement</a>
		</div>
		<div class="both"></div>
	</div>
	<div class="mg_v10"></div>
</div>