<span class="et_type_item {% if typeslug == 'all' %}active{% endif %}">
	<a href="{{ path('event', {'typeslug':'all'}) }}"><span>Touts</span> <span class="hidden_530">Evènements</span></a>
</span>
<span class="et_type_item {% if typeslug == 'upcoming' %}active{% endif %}">
	<a href="{{ path('event', {'typeslug':'upcoming'}) }}"><span>En cours / à venir</span></a>
</span>
<span class="et_type_item {% if typeslug == 'passed' %}active{% endif %}">
	<a href="{{ path('event', {'typeslug':'passed'}) }}"><span class="hidden_530">Evènements</span> <span>Passés</span></a>
</span>
<span class="dd d_ib">
	<span href="#" class="dds c_p">
		{% if tag is defined %}
			<span class="et_type_item active">{{ tag.name }}</span>
		{% else %}
			<span class="et_type_item">Tags</span>
		{% endif %}
	</span>
	<span class="ddt et_list_tag" data-display="block">
		<span class="mg_5 d_b">
			{% set tags = getTagsWithPublishedEvent() %}
				{% for tagTemp in tags %}
					<span class="d_b">
						<a class="et_tag d_b et_tag_item" href="{{ path('event_view_tag', {'slug': tagTemp.slug}) }}">
							{% if tag is defined and tag.id == tagTemp.id %}
								<strong>
									{{ tagTemp.name }} 
									{{ getPublishedEventsByTag(tagTemp) | length }}
								</strong>
							{% else %}
								{{ tagTemp.name }} 
								{{ getPublishedEventsByTag(tagTemp) | length }}
							{% endif %}
						</a>
					</span>
				{% endfor %}
		</span>
	</span>
</span>