<div class="edit_footer">
	<span class="toggle_case" data-target="{{ path('event_manager_toggle_publication', {'event_id': event.id}) }}">
		{% if event.published %}
			<span class="greenstate d_n"><span class="greenpastille"></span> <span>Publier</span></span>
			<span class="redstate"><span class="redpastille"></span> <span>Ne pas publier</span></span>
		{% else %}
			<span class="greenstate"><span class="greenpastille"></span> <span>Publier</span></span>
			<span class="redstate d_n"><span class="redpastille"></span> <span>Ne pas publier</span></span>
		{% endif %}
	</span><span class="state_loading d_n">
		<img src="{{ asset('image/tail-spin.svg')  }}" /> Chargement...
	</span>
	|
	<span class="toggle_case" data-target="{{ path('event_manager_toggle_show_author', {'event_id': event.id}) }}">
		{% if event.showAuthor %}
			<span class="greenstate d_n"><span class="greenpastille"></span> <span>Afficher l'auteur</span></span>
			<span class="redstate"><span class="redpastille"></span> <span>Ne pas afficher l'auteur</span></span>
		{% else %}
			<span class="greenstate"><span class="greenpastille"></span> <span>Afficher l'auteur</span></span>
			<span class="redstate d_n"><span class="redpastille"></span> <span>Ne pas afficher l'auteur</span></span>
		{% endif %}
	</span><span class="state_loading d_n">
		<img src="{{ asset('image/tail-spin.svg')  }}" /> Chargement...
	</span>
	|
	<span class="toggle_case" data-target="{{ path('event_manager_toggle_active_comment', {'event_id': event.id}) }}">
		{% if event.activeComment %}
			<span class="greenstate d_n"><span class="greenpastille"></span> <span>Activer les commentaires</span></span>
			<span class="redstate"><span class="redpastille"></span> <span>Désactiver les commentaires</span></span>
		{% else %}
			<span class="greenstate"><span class="greenpastille"></span> <span>Activer les commentaires</span></span>
			<span class="redstate d_n"><span class="redpastille"></span> <span>Désactiver les commentaires</span></span>
		{% endif %}
	</span><span class="state_loading d_n">
		<img src="{{ asset('image/tail-spin.svg')  }}" /> Chargement...
	</span>
</div>