<div class="pd_5">
	<span>
		<i class="far fa-edit"></i> Edition de l'évènement :
		<a href="{{ path('event_manager_edit', {'event_id': event.id}) }}">
			<strong class="et_title_{{ event.id }}">{{ event.title }}</strong>
		</a>
	</span>
</div>
<div class="edit_header">
	<div class="left">
		<span class="dd" style="display:inline-block;">
			<span href="#" class="dd_src" style="cursor:pointer">
				<i class="fas fa-info-circle"></i> <span>info</span>
			</span>
			<span class="dd_target entity_info" data-display="block">
				<span class="mg_5" style="display: block">
					<span><img src="{{ asset('image/ur_icon.png') }}" style="width:12px; height:auto" /> {{ getLinkUserInfo(event.user, event.user.name) | raw }}</span><br />
					<span><img src="{{ asset('image/calendar_icon.png') }}" style="width:12px; height:auto" /> {{ getDateLabel(event.date) }} à {{ event.date | date('H:i') }}</span><br />
					<span><img src="{{ asset('image/view_icon.png') }}" style="width:12px; height:auto" /> {{ event.views | length }}</span><br />
					{#<span><img src="{{ asset('image/comment_icon.png') }}" style="width:12px; height:auto" /> {{ getValidComments(event) | length }}</span><br />#}
				</span>
			</span>
		</span>
	</div>
	<div class="right">
        {% if event.tovalid == false %}
			<span class="create_event" style="cursor: pointer" data-target="{{ path('event_manager_tovalid_ajax', {'event_id' : event.id})}}">
				<i class="far fa-check-circle"></i>
				<span> Soumettre à une validation</span>
			</span>
        {% elseif event.tovalid and event.valid == false %}
			En attente de validation
        {% elseif event.valid %}
			Evènement validé
        {% endif %}
		|
		<span class="dd" style="display:inline-block;">
			<span href="#" class="dd_src" style="cursor:pointer">
				Actions
			</span>
            {{ include("event/include/event_other_action.html.twig") }}
		</span>
	</div>
	<div class="both"></div>
</div>