{% set nbLinks = 7 %}
{% if nbLinks < 5 %}
	{% set nbLinks = 5 %}
{% endif %}

{% if allEvents | length >0 %}
	{% set nbAll = allEvents | length %}
	{% set nbPagesFormat = ((nbAll / limit) - 0.5) | number_format  %}

	{% if (nbAll / limit) == nbPagesFormat %}
		{% set nbPages = nbPagesFormat %}
	{% else %}
		{% set nbPages = nbPagesFormat + 1 %}
	{% endif %}

	{% if tag is defined %}
		{% if  limit * nbLinks >= nbAll %}
			{% for page in 1..nbPages %}
				{% if currentpage == page%}
					<a class="et_pagination_item pagination_item active" title="page {{ page }}" href="{{ path('event_view_tag', {'slug': tag.slug, 'page': page }) }}">
						{{ page }}
					</a>
				{% else %}
					<a class="et_pagination_item pagination_item" title="page {{ page }}" href="{{ path('event_view_tag', {'slug': tag.slug, 'page': page }) }}">
						{{ page }}
					</a>
				{% endif %}
			{% endfor %}
		{% else %}
			{% for page in 1..nbPages %}
				{% if page == 1 or page == nbPages or (page <= nbLinks-1 and currentpage <= (nbLinks+1)/2 )  or (page >= nbPages-nbLinks+2 and currentpage >= nbPages-(nbLinks-1)/2 ) or (page>=currentpage-(nbLinks-3)/2 and page<=currentpage+(nbLinks-3)/2) %}
					{% if currentpage == page %}
						<a class="et_pagination_item pagination_item active" title="page {{ page }}" href="{{ path('event_view_tag', {'slug': tag.slug, 'page': page }) }}">
							{{ page }}
						</a>
					{% else %}
						<a class="et_pagination_item pagination_item" title="page {{ page }}" href="{{ path('event_view_tag', {'slug': tag.slug, 'page': page }) }}">
							{{ page }}
						</a>
					{% endif %}
				{% endif %}
				{% if page == 1 and currentpage >= (nbLinks+3)/2 %}
					<span class="et_pagination_item pagination_item " >
						...
					</span>
				{% endif %}
				{% if page == nbPages-1 and currentpage <= nbPages-(nbLinks+1)/2 %}
					<span class="et_pagination_item pagination_item " >
						...
					</span>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% else %}
		{% if  limit * nbLinks >= nbAll %}
			{% for page in 1..nbPages %}
				{% if currentpage == page%}
					<a class="et_pagination_item pagination_item active" title="page {{ page }}" href="{{ path('event', {'typeslug': typeslug, 'page': page }) }}">
						{{ page }}
					</a>
				{% else %}
					<a class="et_pagination_item pagination_item" title="page {{ page }}" href="{{ path('event', {'typeslug': typeslug, 'page': page }) }}">
						{{ page }}
					</a>
				{% endif %}
			{% endfor %}
		{% else %}
			{% for page in 1..nbPages %}
				{% if page == 1 or page == nbPages or (page <= nbLinks-1 and currentpage <= (nbLinks+1)/2 )  or (page >= nbPages-nbLinks+2 and currentpage >= nbPages-(nbLinks-1)/2 ) or (page>=currentpage-(nbLinks-3)/2 and page<=currentpage+(nbLinks-3)/2) %}
					{% if currentpage == page %}
						<a class="et_pagination_item pagination_item active" title="page {{ page }}" href="{{ path('event', {'typeslug': typeslug, 'page': page }) }}">
							{{ page }}
						</a>
					{% else %}
						<a class="et_pagination_item pagination_item" title="page {{ page }}" href="{{ path('event', {'typeslug': typeslug, 'page': page }) }}">
							{{ page }}
						</a>
					{% endif %}
				{% endif %}
				{% if page == 1 and currentpage >= (nbLinks+3)/2 %}
					<span class="et_pagination_item pagination_item " >
						...
					</span>
				{% endif %}
				{% if page == nbPages-1 and currentpage <= nbPages-(nbLinks+1)/2 %}
					<span class="et_pagination_item pagination_item " >
						...
					</span>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endif %}
{% endif %}