{% set participations = getGoingParticipations(event) %}
{% set limit = 14 %}
{% set maybeParticipations = getMaybeParticipations(event) %}
<div class="participation_ct">
    <div class="header">
        Qui sont les participants?
    </div>
    <div class="body">
        <div class="list">
            {% if participations | length > 0 %}
                <div class="list_wrap d_n">
                    {% set countParticipation = 0 %}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if isGoingParticipation(event, app.user) %}
                            {% set user = app.user %}
                            {% set avatar = userAvatar(user) %}
                            {% set userInfo = getLinkUserInfo(user, '<img src="'~ avatar | imagine_filter("50x50") ~'" alt="'~ getAcronym(user.name) ~'" />' ) %}
                            {{ userInfo | raw }}
                            {% set countParticipation = countParticipation + 1 %}
                        {% endif %}
                    {% endif %}
                
                    {% for participation in participations %}
                        {% set user = participation.user %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% if user.id != app.user.id and countParticipation < limit %}
                                {% set avatar = userAvatar(user) %}
                                {% set userInfo = getLinkUserInfo(user, '<img src="'~ avatar | imagine_filter("50x50") ~'" alt="'~ getAcronym(user.name) ~'" />' ) %}
                                {{ userInfo | raw }}
                                {% set countParticipation = countParticipation + 1 %}
                            {% endif %}
                        {% else %}
                            {% if countParticipation < limit %}
                                {% set avatar = userAvatar(user) %}
                                {% set userInfo = getLinkUserInfo(user, '<img src="'~ avatar | imagine_filter("50x50") ~'" alt="'~ getAcronym(user.name) ~'" />' ) %}
                                {{ userInfo | raw }}
                                {% set countParticipation = countParticipation + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {#{% if participations | length > limit %}#}
                    {% set overflowParticipations = participations | length - limit %}
                    {% if overflowParticipations <= 0 %}
                        {% set overflowParticipations = 0 %}
                    {% endif %}
                    <span data-bound-count="{{ overflowParticipations }}" data-count="{{ overflowParticipations }}" class="bound_participations{% if participations | length > 0 %} participations_popup{% endif %}" data-target="{{ path('event_participations_popup', {'event_id': event.id}) }}">+{{ overflowParticipations }}</span>
                    {#{% endif %}#}
                </div>
            {% else %}
                <div>
                    {% if event.dateend | date('Y-m-d H:i:s') > "now" | date('Y-m-d H:i:s') %}
                        <span class="going_btn c_p" data-target="{{ path('event_going_participation', {'event_id': event.id}) }}">
                            Soyez le premier à participer
                        </span>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="resume">
            <div>
                <div class="going{% if participations | length > 0 %} participations_popup{% endif %}" data-target="{{ path('event_participations_popup', {'event_id': event.id}) }}">
                    <strong>{{ participations | length }}</strong>
                    <br> 
                    <strong>participant{% if participations | length > 1 %}s{% endif %}</strong>
                </div>
                <div class="maybe">
                    <strong>{{ maybeParticipations | length }}</strong>
                    <br> 
                    <strong>peut être</strong>
                </div>
            </div>
            <div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                    {% if isGoingParticipation(event, app.user) %}
                        {% if event.dateend | date('Y-m-d H:i:s') > "now" | date('Y-m-d H:i:s') %}
                            Vous participez à l'évènement
                        {% else %}
                            Vous avez participé à l'évènement
                        {% endif %}
                    {% elseif isMaybeParticipation(event, app.user) %}
                        {% if event.dateend | date('Y-m-d H:i:s') > "now" | date('Y-m-d H:i:s') %}
                            Vous participez peut être à l'évènement
                        {% endif %}
                    {% else %}
                        {% if event.dateend | date('Y-m-d H:i:s') > "now" | date('Y-m-d H:i:s') %}
                            Vous ne participez pas à l'évènement
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="actions">
        {% if event.dateend | date('Y-m-d H:i:s') > "now" | date('Y-m-d H:i:s') %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                <div class="btn_list">
                    {% if isGoingParticipation(event, app.user) %}
                    {% else %}
                        <span class="standar_button going_btn" data-target="{{ path('event_going_participation', {'event_id': event.id}) }}" >Participer</span>
                    {% endif %}
                    
                    {% if isMaybeParticipation(event, app.user) %}
                    {% else %}
                        <span class="standar_button maybe_btn" data-target="{{ path('event_maybe_participation', {'event_id': event.id}) }}" >Peut être</span>
                    {% endif %}
                </div> 
                <div class="loading">
                    <img src="{{ asset('image/tail-spin.svg') }}" />Chargement ...
                </div>
            {% else %}
                <a class="login_ajax" href="{{ path('user_login_ajax') }}"><span class="standar_button">Participer</span></a>
            {% endif %}
        {% else %}
            Cet évènement a déjà eu lieu
        {% endif %}
    </div>
</div>