{% extends "back.html.twig" %}

{% block title %}
	Catégories d'établissements
{% endblock %}

{% block body_header %}
	<div class="bc">
		<span class="bc1"><a href="{{ path('admin_school') }}"><img src="{{ asset('image/sl_icon.png') }}" style="width:14px; height:auto" /> <span>Etablissements</span></a> </span>
		<span class="dd">
			<span href="#" class="dds">
				<span class="bcdd"></span>
			</span>
            {{ include("admin/school/include/school_principal_action.html.twig") }}
		</span>
		<span class="bc1"><a href="{{ path('admin_school_category') }}">Catégories</a></span>
	</div>

	<div style="padding:8px;float:right">
		<span><a href="{{ path('admin_school_category_add') }}"><img src="{{ asset('image/add_icon.png') }}" /> <span>Nouvelle catégorie</span></a></span>
	</div>
{% endblock %}

{% block content_body %}
	<div style="background:#ddd; padding: 5px; margin:5px; border:1px solid #bbb">
		<span><img src="{{ asset('image/list_icon.png') }}" style="width:12px; height:auto" /> Liste des catégories d'établissements</span>
	</div>

	<div class="a_datatable">
		<div class="a_datatable_head">
			<div class="a_datatable_head_left">
				<span style="display:inline-block; margin-top:5px; margin-left:6px"> Rechercher :
                    <input type="text" class="default_input a_list_search_input" data-target-id="list_categories_sl" /><!--
					--><span class="a_list_search_reset"><img src="{{ asset('image/cross_icon.png') }}" style="width:12px; height:auto" /></span>
                </span>
			</div>
			<div class="a_datatable_head_right">
                {#right#}
			</div>
		</div>

		<div class="a_datatable_body">
			<table class="a_table" id="list_categories_sl">
				<tr class="a_table_head">
					<th class="a_table_cell_id" style="width: 50px; text-align:center">id</th>
					<th class="ta_l">Nom</th>
					<th class="ta_l">slug</th>
					<th class="ta_c">Etablissements</th>
					<th class="a_table_cell_action">Actions</th>
				</tr>
                {% for category in categories %}
					<tr id="sl_category_{{ category.id }}" class="a_table_line" data-text="{{ category.name }}" style="display:table-row">
						<td class="a_table_cell_id" style="width: 50px; text-align:center">{{ category.id }}</td>
						<td><a href="{{ path('admin_school_category_edit', {'category_id': category.id}) }}">{{ category.name }}</a></td>
						<td>{{ category.slug }}</td>
						<td class="ta_c">
							{% set schools = getAllSchoolByCategory(category) %}
							{{ schools | length }}
						</td>

						<td class="a_table_cell_action ta_c">
							<a href="{{ path('admin_school_category_edit', {'category_id': category.id}) }}" data-name="{{ category.name }}" style="cursor:pointer"><img src="{{ asset('image/edit_icon.png') }}" style="width:12px; height:auto" /></a>
							<a href="{{ path('admin_school_category_edit_schools', {'category_id': category.id}) }}" data-name="{{ category.name }}" style="cursor:pointer"><img src="{{ asset('image/sl_icon.png') }}" style="width:12px; height:auto" /></a>
							<span class="delete_sl_cat" data-school="{{ schools | length }}" data-id="{{ category.id }}" data-target="{{ path('admin_school_category_delete', {'category_id': category.id}) }}" data-name="{{ category.name }}" style="cursor:pointer"><img src="{{ asset('image/delete_icon.png') }}" style="width:12px; height:auto" /></span>
						</td>
					</tr>
                {% endfor %}
			</table>
		</div>

		<div class="a_datatable_foot">
			<div class="a_datatable_foot_left">
				<span style="display:inline-block; margin-top:6px; margin-left:6px" class="result_state">{{ categories | length }} resultat(s)</span>
			</div>
			<div class="a_datatable_foot_right">
                {#
                right
                #}
			</div>
		</div>
	</div>
{% endblock %}

{% block body_footer %}
	<span style="display:inline-block; margin-top:6px; margin-left:6px"><span class="nb_categories">{{ categories | length }}</span> catégories</span>
{% endblock %}

