{% extends "back.html.twig" %}

{% block title %}
	Ajout d'une catégorie d'établissements
{% endblock %}

{% block body_header %}
	<div class="bc">
		<span class="bc1"><a href="{{ path('admin_school') }}"><img src="{{ asset('image/sl_icon.png') }}" style="width:14px; height:auto" /> <span>Etablissements</span></a> </span>
		<span class="dd">
			<span href="#" class="dd_src">
				<span class="bcdd"></span>
			</span>
            {{ include("admin/school/include/school_principal_action.html.twig") }}
		</span>
		<span class="bc1"><a href="{{ path('admin_school_category') }}">Catégories</a></span>
		<span class="dd">
			<span href="#" class="dd_src">
				<span class="bcdd"></span>
			</span>
            {#
            <div class="dd_target">
                <span class="bc2"><a class="link" href="{{ path('admin_school_add') }}">add School</a></span>
            </div>
            #}
		</span>
		<span class="bc1"><a href="{{ path('admin_school_category_add') }}">Nouvelle catégories</a></span>
	</div>
{% endblock %}

{% block content_body %}
	<div style="background:#ddd; padding: 5px; margin:5px; border:1px solid #bbb">
		Ajout d'une catégorie d'établissements
	</div>

	<div style="padding:5px">
		<div style="margin: 10px 0">
			Nam ultrices nibh sapien, vel cursus leo tempus eu. Curabitur laoreet varius malesuada. Nullam lacinia felis nisi, ut varius ipsum luctus non. Pellentesque ex magna, euismod sit amet ultricies consequat, eleifend eu purus. Nullam odio nisl, accumsan tristique elit sit amet, finibus rhoncus ipsum. Nunc ultricies ac arcu vitae elementum.
		</div>
		<div class="">
			<form name="" method="post">
				<div>
					<div><label for="name" class="required">Nom * : </label></div>
					<div><input type="text" id="name" name="name" required="required"  class="default_input" /></div>
				</div>
				<div style="padding:10px 0">
					<button type="submit" id="ajouter" name="add" class="standar_button">Ajouter</button>
				</div>
			</form>
		</div>
		<div style="margin: 10px 0">
			Sed non erat in neque mollis ultricies. Nam ultrices nibh sapien, vel cursus leo tempus eu. Curabitur laoreet varius malesuada. Nullam lacinia felis nisi, ut varius ipsum luctus non. Pellentesque ex magna, euismod sit amet ultricies consequat, eleifend eu purus. Nullam odio nisl, accumsan tristique elit sit amet, finibus rhoncus ipsum. Nunc ultricies ac arcu vitae elementum.
		</div>
	</div>
{% endblock %}

