{% extends "back.html.twig" %}

{% block title %}
  {{ school.name }} - Documents
{% endblock %}

{% block body_header %}
	<div class="bc">
		<span class="bc1"><a href="{{ path('admin_school') }}"><img src="{{ asset('image/sl_icon.png') }}" style="width:14px; height:auto"  /> <span>Etablissements</span></a> </span>
		<span class="dd">
			<span href="#" class="dds">
				<span class="bcdd"></span>
			</span>
			{{ include("admin/school/include/school_principal_action.html.twig") }}
		</span> 
		<span class="bc1"><a href="{{ path('admin_school_edit', {'id': school.id}) }}">{% if school.shortName != "" %}{{ school.shortName }}{% else %}{{ school.name }}{% endif %}</a></span>
		<span class="dd">
			<span href="#" class="dds">
				<span class="bcdd"></span>
			</span>
			{{ include("admin/school/include/school_other_action.html.twig") }}
		</span> 
		<span class="bc1"><a href="{{ path('admin_school_document', {'school_id': school.id}) }}"><span>Documents</span></a> </span>
	</div>
	<div style="padding:8px; float:right">
		<div style="float:left">
			<span class="dd" style="display:inline-block;">
				<span href="#" class="dds" style="cursor:pointer">
					Autres actions
				</span>
				{{ include("admin/school/include/school_other_action.html.twig") }}
			</span> 
		</div>
	</div>
{% endblock %}

{% block content_body %}
	<div>
		<div style="float:left; height: 86px;margin:5px">
			{# twig extension #}
			{% set logo = schoolLogo(school) %}

			<img id="school_logo" style="width: 80px; height: 80px" src="{{ logo | imagine_filter('80x80') }}" alt="img sl" />
		</div>
		<div style="margin-left: 90px;">
			<div>
				<table>
					<tr>
						<td>Name</td>
						<td>:</td>
						<td style="padding:5px"><span id="sl_view_name">{{ school.name }}</span></td>
					</tr>
					<tr>
						<td>ShortName</td>
						<td>:</td>
						<td style="padding:5px"><span id="sl_view_shortname">{{ school.shortName }}</span></td>
					</tr>
					<tr>
						<td>Slug</td>
						<td>:</td>
						<td style="padding:5px"><span id="sl_view_slug">{{ school.slug }}</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="both"></div>
	</div>
	
	<div style="background:#ddd; padding: 5px; margin:5px; border:1px solid #bbb">
		<span><img src="{{ asset('image/list_icon.png') }}" style="width:12px; height:auto" /> Liste des documents</span>
		<a href="{{ path('admin_school_document_add', {'school_id': school.id}) }}" style="cursor:pointer;display:inline-block; float:right"> <img src="{{ asset('image/add_icon.png') }}" style="width:12px; height:auto" /> Nouveau document</a>
	</div>
	
	<div class="a_datatable">
		<div class="a_datatable_head">
			<div class="a_datatable_head_left">
				<span style="display:inline-block; margin-top:5px; margin-left:6px"> Rechercher :
					<input type="text" class="default_input a_list_search_input" data-target-id="list_fields"/><!--
					--><span class="a_list_search_reset"><img src="{{ asset('image/cross_icon.png') }}" style="width:12px; height:auto" /></span>
				</span>
			</div>
			<div class="a_datatable_head_right">
				{#right#}
			</div>
		</div>
		
		<div class="a_datatable_body">
			<table class="a_table" id="list_fields">
				<tr class="a_table_head">
					<th class="a_table_cell_id" style="width: 50px; text-align:center">id</th>
					<th class="taleft">Nom</th>
					<th class="taleft">Nom original</th>
					<th class="taleft">taille</th>
					{#<th class="taleft">Description</th>#}
					<th class="tacenter">Autorisation</th>
					<th class="tacenter">Téléchargements</th>
					<th class="tacenter">Publié</th>
					<th class="a_table_cell_action tacenter">Actions</th>
				</tr>
				{% for document in documents %}
					<tr class="a_table_line field_item" id="field_{{ document.id }}" data-text="{{ document.name }}" style="display:table-row; position:relative;z-index:0">
						<td class="a_table_cell_id" style="height:30px; width: 50px; text-align:center">
							<div>{{ document.id }}</div>
						</td>
						<td style="word-wrap: break-word;">
							<a href="{{ path('admin_school_document_edit', {'school_id': school.id, 'document_id': document.id}) }}">{{ document.name }}</a>
						</td>
						<td style="word-wrap: break-word;">
							{{ document.originalName }}
						</td>
						<td>
							{{ document.formattedFilesize }}
						</td>
						{#
						<td>
							{{ substrSpace(document.description, 40) }}
						</td>
						#}
						<td class="tacenter">
							{% set color = '#2ca729' %}
							{% if document.documentAuthorization.id == 2%}
                                {% set color = '#fe9308' %}
							{% endif %}
							{% if document.documentAuthorization.id == 3%}
                                {% set color = '#d63f27' %}
							{% endif %}
							<span style="color:{{ color }}">{{ document.documentAuthorization.name }}</span>
						</td>
						<td class="tacenter">
							{{ document.downloads | length }}
						</td>
						<td style="text-align:center">
							<span class="toggle_case" data-entity="document" data-target="{{ path('admin_school_document_toggle_publication', {'school_id': school.id, 'document_id': document.id}) }}">
								{% if document.published %}
									<span class="greenstate" style="display:none"><span class="greenpastille"></span></span>
									<span class="redstate"><span class="redpastille"></span></span>
								{% else %}
									<span class="greenstate"><span class="greenpastille"></span></span>
									<span class="redstate" style="display:none"><span class="redpastille"></span></span>
								{% endif %}
							</span><span class="state_loading" style="display:none">
								<img src="{{ asset('image/tail-spin.svg')  }}" style="width:10px; height:10px;display: inline-block; vertical-align: middle;" />
							</span>
						</td>
						<td class="a_table_cell_action tacenter">
							<a href="{{ path('admin_school_document_edit', {'school_id': school.id, 'document_id': document.id}) }}" data-name="{{ document.name }}" style="cursor:pointer"><img src="{{ asset('image/edit_icon.png') }}" style="width:12px; height:auto" /></a>
							<a target="_blank" href="{{ path('admin_school_document_download', {'school_id': school.id, 'document_id': document.id}) }}" data-name="{{ document.name }}" style="cursor:pointer"><img src="{{ asset('image/download_icon.png') }}" style="width:12px; height:auto" /></a>
                            {#<span class="delete_field" data-id="{{ field.id }}" data-target="{{ path('admin_school_field_delete', {'school_id': school.id, 'id': field.id}) }}" data-name="{{ field.name }}" style="cursor:pointer"><img src="{{ asset('image/delete_icon.png') }}" style="width:12px; height:auto" /></span>
                            #}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		
		<div class="a_datatable_foot">
			<div class="a_datatable_foot_left">
				<span style="display:inline-block; margin-top:6px; margin-left:6px" class="result_state">{{ documents | length }} resultat(s)</span>
			</div>
			<div class="a_datatable_foot_right">
				{#<span>right</span>#}
			</div>
		</div>
	</div>
{% endblock %}

{% block body_footer %}
	<span style="display:inline-block; margin-top:6px; margin-left:6px"><span class="nb_docs">{{ documents | length }}</span> documents </span> |
	<span style="display:inline-block; margin-top:6px; margin-left:6px"><span class="nb_published_docs">{{ publishedDocuments | length }}</span> publiées</span> |
	<span style="display:inline-block; margin-top:6px; margin-left:6px"><span class="nb_not_published_docs">{{ notPublishedDocuments | length }}</span> non publiées</span>
{% endblock %}
