{% extends "back.html.twig" %}

{% block title %}
  Ajout d'un document
{% endblock %}

{% block body_header %}
	<div class="bc">
		<span class="bc1"><a href="{{ path('admin_school') }}"><img src="{{ asset('image/sl_icon.png') }}" style="width:14px; height:auto" /> <span>Etablissements</span></a> </span>
		<span class="dd">
			<span href="#" class="dds">
				<span class="bcdd"></span>
			</span>
			{{ include("admin/school/include/school_principal_action.html.twig") }}
		</span> 
		<span class="bc1"><a href="{{ path('admin_school_edit', {'id': school.id}) }}">{% if school.shortName != "" %}{{ school.shortName }}{% else %}{{ school.name }}{% endif %}</a></span>
		<span class="dd">
			<span href="#" class="dds">
				<span class="bcdd"></span>
			</span>
			{{ include("admin/school/include/school_other_action.html.twig") }}
		</span> 
		<span class="bc1"><a href="{{ path('admin_school_document', {'school_id': school.id}) }}"><span>Documents</span></a> </span>
		<span class="dd">
			<span href="#" class="dds">
				<span class="bcdd"></span>
			</span>
			<span class="ddt dd_tdfault">
				<a class="link dd_item" href="{{ path('admin_school_field_add', {'school_id': school.id}) }}">
					<span class="icon"><img src="{{ asset('image/add_icon.png') }}" /></span><span class="label">Nouveau document</span>
				</a>
			</span>
		</span>
		<span class="bc1"><a href="{{ path('admin_school_document_add', {'school_id': school.id}) }}">Nouveau document</a></span>
	</div>
	<div style="padding:8px; float:right">
		<div style="float:left">
			<span class="dd" style="display:inline-block;">
				<span href="#" class="dds" style="cursor:pointer">
					Autres actions
				</span>
				{{ include("admin/school/include/school_other_action.html.twig") }}
			</span> 
		</div>
	</div>
{% endblock %}

{% block content_body %}
	<div>
		<div style="float:left; height: 86px;margin:5px">
			{# twig extension #}
			{% set logo = schoolLogo(school) %}
			<img id="school_logo" style="width: 80px; height: 80px" src="{{ logo | imagine_filter('80x80') }}" alt="img sl" />
		</div>
		<div style="margin-left: 90px;">
			<div>
				<table>
					<tr>
						<td>Name</td>
						<td>:</td>
						<td style="padding:5px"><span id="sl_view_name">{{ school.name }}</span></td>
					</tr>
					<tr>
						<td>ShortName</td>
						<td>:</td>
						<td style="padding:5px"><span id="sl_view_shortname">{{ school.shortName }}</span></td>
					</tr>
					<tr>
						<td>Slug</td>
						<td>:</td>
						<td style="padding:5px"><span id="sl_view_slug">{{ school.slug }}</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="both"></div>
	</div>
	
	<div style="background:#ddd; padding: 5px; margin:5px; border:1px solid #bbb">
		Ajout d'un document
	</div>
	
	<div style="padding:5px">
		<div style="margin: 10px 0">
			Ajout d'un document pour l'établissement <strong>{{ school.name }}</strong>.
		</div>
		<div>
			{#
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
			#}

			<form name="form_add_document" method="post" enctype="multipart/form-data">
				<div>
					<div><label for="name" class="required">Nom du document * : </label></div>
					<div><input type="text" id="name" name="name" required="required"  class="default_input" /></div>
				</div>
				<div>
					<div><label for="description" class="required">Description : </label></div>
					<div><textarea type="text" id="description" name="description" required="required"  class="default_textarea" ></textarea></div>
				</div>
				<div>
					<div><label for="description" class="required">Autorisation : </label></div>
					<div>
						<select name="authorizationId">
                            {% for authorization in authorizations %}
								<option value="{{ authorization.id }}">{{ authorization.name }}</option>
                            {% endfor %}
						</select>
					</div>
				</div>
				<div>
					<div><label for="description" class="required">Fichier : </label></div>
					<div><input type="file" id="file" name="file" required="required"  /></div>
				</div>
			</form>
		</div>
		<div class="sep"></div>
		<div>
			<div>
				<span id="add_field_ajax_btn_submit" class="standar_button" onclick="javascript:document.form_add_document.submit()">Ajouter</span>
			</div>
		</div>
	</div>
{% endblock %}
