{% extends "back.html.twig" %}

{% block title %}
  {{ school.name }} - Evaluations
{% endblock %}

{% block body_header %}
	<div class="bc">
		<span class="bc1"><a href="{{ path('admin_school') }}"><img src="{{ asset('image/sl_icon.png') }}" style="width:14px; height:auto"  /> <span>Etablissements</span></a> </span>
		<span class="dd">
			<span href="#" class="dd_src">
				<span class="bcdd"></span>
			</span>
			{{ include("admin/school/include/school_principal_action.html.twig") }}
		</span> 
		<span class="bc1"><a href="{{ path('admin_school_edit', {'id': school.id}) }}">{% if school.shortName != "" %}{{ school.shortName }}{% else %}{{ school.name }}{% endif %}</a></span>
		<span class="dd">
			<span href="#" class="dd_src">
				<span class="bcdd"></span>
			</span>
			{{ include("admin/school/include/school_other_action.html.twig") }}
		</span> 
		<span class="bc1"><a href="{{ path('admin_school_evaluation', {'school_id': school.id}) }}"><span>Evaluations</span></a> </span>
	</div>
	<div style="padding:8px; float:right">
		<div style="float:left">
			<span class="dd" style="display:inline-block;">
				<span href="#" class="dd_src" style="cursor:pointer">
					Autres actions
				</span>
				{{ include("admin/school/include/school_other_action.html.twig") }}
			</span> 
		</div>
	</div>
{% endblock %}

{% block content_body %}
	<div>
		<div style="float:left; height: 86px;margin:5px">
			{# twig extension #}
			{% set logo = schoolLogo(school) %}

			<img id="school_logo" style="width: 80px; height: 80px" src="{{ logo | imagine_filter('80x80') }}" alt="img sl" />
		</div>
		<div style="margin-left: 90px;">
			<div>
				<table>
					<tr>
						<td>Name</td>
						<td>:</td>
						<td style="padding:5px"><span id="sl_view_name">{{ school.name }}</span></td>
					</tr>
					<tr>
						<td>ShortName</td>
						<td>:</td>
						<td style="padding:5px"><span id="sl_view_shortname">{{ school.shortName }}</span></td>
					</tr>
					<tr>
						<td>Slug</td>
						<td>:</td>
						<td style="padding:5px"><span id="sl_view_slug">{{ school.slug }}</span></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="both"></div>
	</div>
	
	<div style="background:#ddd; padding: 5px; margin:5px; border:1px solid #bbb">
		<span><img src="{{ asset('image/list_icon.png') }}" style="width:12px; height:auto" /> Liste des évaluations</span>
	</div>
	
	<div class="a_datatable">
		<div class="a_datatable_head">
			<div class="a_datatable_head_left">
				<span style="display:inline-block; margin-top:5px; margin-left:6px"> Rechercher :
					<input type="text" class="default_input a_list_search_input" data-target-id="list_evaluations"/><!--
					--><span class="a_list_search_reset"><img src="{{ asset('image/cross_icon.png') }}" style="width:12px; height:auto" /></span>
				</span>
			</div>
			<div class="a_datatable_head_right">
				{#right#}
			</div>
		</div>
		
		<div class="a_datatable_body">
			<table class="a_table" id="list_evaluations">
				<tr class="a_table_head">
					<th class="a_table_cell_id" style="width: 50px; text-align:center">id</th>
					<th class="taleft">Nom</th>
					<th class="tacenter">notes</th>
					<th class="tacenter">commentaires</th>
					<th class="a_table_cell_action tacenter">Actions</th>
				</tr>
				{% for evaluation in evaluations %}
					<tr class="a_table_line evaluation_item" id="evaluation_{{ evaluation.id }}" data-text="{{ evaluation.user.name }} {{ evaluation.comment }} " style="display:table-row; position:relative;z-index:0">
						<td class="a_table_cell_id" style="height:30px; width: 50px; text-align:center">
							<div>{{ evaluation.id }}</div>
						</td>
						<td style="word-wrap: break-word;">
							{{ evaluation.user.name }}
						</td>
						<td style="word-wrap: break-word;">
							{{ evaluation.mark }}
						</td>
						<td>
							{{ evaluation.comment }}
						</td>
						<td class="a_table_cell_action tacenter">
                            <span class="delete_evaluation" data-id="{{ evaluation.id }}" data-target="{{ path('admin_school_evaluation_delete', {'school_id': school.id, 'id': evaluation.id}) }}" style="cursor:pointer"><img src="{{ asset('image/delete_icon.png') }}" style="width:12px; height:auto" /></span>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		
		<div class="a_datatable_foot">
			<div class="a_datatable_foot_left">
				<span style="display:inline-block; margin-top:6px; margin-left:6px" class="result_state">{{ evaluations | length }} resultat(s)</span>
			</div>
			<div class="a_datatable_foot_right">
				{#<span>right</span>#}
			</div>
		</div>
	</div>
{% endblock %}

{% block body_footer %}
	<span style="display:inline-block; margin-top:6px; margin-left:6px"><span class="nb_evaluations">{{ evaluations | length }}</span> évaluations </span>
	
{% endblock %}
