{% extends "back.html.twig" %}

{% block title %}
  Assignation d'un établissement du jour
{% endblock %}

{% block body_header %}
	<div class="bc">
		<span class="bc1"><a href="{{ path('admin_school') }}"><img src="{{ asset('image/sl_icon.png') }}" style="width:14px; height:auto"  /> <span>Etablissements</span></a> </span>
		<span class="dd">
			<span href="#" class="dd_src">
				<span class="bcdd"></span>
			</span>
            {{ include("admin/school/include/school_principal_action.html.twig") }}
		</span>
		<span class="bc1"><a href="{{ path('admin_school_sod')}}">Etablissement du jour</a></span>
		<span class="dd">
			<span href="#" class="dd_src">
				<span class="bcdd"></span>
			</span>
		</span>
		<span class="bc1"><a href="{{ path('admin_school_sod_assignation') }}"><span>Assigner un établissement</span></a> </span>
	</div>
	<div style="padding:8px;float:right">
		<span><a href="{{ path('admin_school_add') }}"><img src="{{ asset('image/add_icon.png') }}" /> <span>Nouvel établissement</span></a></span>
	</div>
{% endblock %}

{% block content_body %}
	<div style="background:#ddd; padding: 5px; margin:5px; border:1px solid #bbb">
		Assignation d'un établissement du jour
	</div>
	
	<div style="padding:5px">
	<div style="margin: 10px 0">
		Nam ultrices nibh sapien, vel cursus leo tempus eu. Curabitur laoreet varius malesuada. Nullam lacinia felis nisi, ut varius ipsum luctus non. Pellentesque ex magna, euismod sit amet ultricies consequat, eleifend eu purus. Nullam odio nisl, accumsan tristique elit sit amet, finibus rhoncus ipsum. Nunc ultricies ac arcu vitae elementum. 
	</div>
	<div>

		{#
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
		#}

		<form name="" method="post">
			<div>                
				<div><label for="datebegin_assignation" class="required">Date début * : </label></div>
				<div><input type="text" id="datebegin_assignation" name="datebegin" required="required"  class="default_input" /></div>
			</div>
			<div>
				<div><label for="dateend_assignation" class="required">Date fin * : </label></div>
				<div><input type="text" id="dateend_assignation" name="dateend" required="required"  class="default_input" /></div>
			</div>
			<div>
				<div><label for="school_id" class="required">Etablissement : </label></div>
				<div>
					<select id="school_id" name="schoolId" class="default_input">
						<option value="0" ></option>
                        {% for school in schools %}
							<option value="{{ school.id }}" >{{ school.shortName }} - {{ school.name }}</option>
                        {% endfor %}
					</select>
				</div>
			</div>
			
			<div style="padding:10px 0">
				<button type="submit" id="Assigner" name="add" class="standar_button">Assigner</button>
			</div>
		</form>

	</div>
	<div style="margin: 10px 0">
		Sed non erat in neque mollis ultricies. Nam ultrices nibh sapien, vel cursus leo tempus eu. Curabitur laoreet varius malesuada. Nullam lacinia felis nisi, ut varius ipsum luctus non. Pellentesque ex magna, euismod sit amet ultricies consequat, eleifend eu purus. Nullam odio nisl, accumsan tristique elit sit amet, finibus rhoncus ipsum. Nunc ultricies ac arcu vitae elementum. 
	</div>
	</div>
{% endblock %}

{% block body_footer %}
	<span style="display:inline-block; margin-top:6px; margin-left:6px"><a href="{{ path('admin_school_edit', {'id': schoolToday.id}) }}">Etablissement du jour : {{ schoolToday.shortName }} - {{ schoolToday.name }}</a></span>
{% endblock %}

