{% extends "front.html.twig" %}

{% block title %}
	Evènement #{{ event.id }} - Tags
{% endblock %}


{% block body %}

	<div class="cr">
		<div class="ct">
			<div class="mg_10">
                {{ include("event/include/header_event_edit.html.twig") }}
				<div class="meta_info mg_v10">
					<div class="meta_illustration" id="change_illustration_fix">
                        {# twig extension #}
                        {% set illustration = eventIllustration(event) %}
						<label>
							<img id="event_illustration_fix" class="600x250" src="{{ illustration | imagine_filter('600x250') }}" alt="img event" />
						</label>
					</div>

					<div class="meta_title">
						<div class="pd_l5"><strong>Titre :</strong></div>
						<div class="pd_5"><span id="event_view_title">{{ event.title }}</span></div>
						<div class="pd_l5"><strong>Slug :</strong></div>
						<div class="pd_5"><span id="event_view_slug">{{ event.slug }}</span></div>
					</div>
					<div class="both"></div>
				</div>

				<div class="edit_title">
					<span><i class="fas fa-list"></i> Liste des tags</span>
				</div>

				<div class="search" data-item-display="inline-block">
					<div class="search_input_cr pd_5">
						<div class="search_input_left">
							<label for="search_input" class="label_search_input">Rechercher :</label> <span class="search_input_wrap"><input type="text" id="search_input" class="search_input"/><!--
						--><span class="search_reset"><i class="fas fa-times"></i></span><!--
								--></span>
						</div>
						<div class="search_input_right">
							<span class="result_state vamiddle">{{ tags | length }} résultat{% if tags | length > 1 %}s{% endif %}</span>
						</div>
						<div class="both"></div>
					</div>

					<div class="mg_v10 list_tag">
						{% for tag in tags %}
							<span class="tag_item search_item" data-text="{{ tag.name }}">
								<span>
									<span class="toggle_case" data-entity="tag" data-target="{{ path('event_manager_toggle_tag', {'event_id': event.id, 'tag_id': tag.id }) }}">
										{% set isTag = isTagEvent(event, tag) %}
										{% if isTag %}
											<span class="greenstate d_n"><span class="greenpastille"></span></span>
											<span class="redstate"><span class="redpastille"></span></span>
										{% else %}
											<span class="greenstate"><span class="greenpastille"></span></span>
											<span class="redstate d_n"><span class="redpastille"></span></span>
										{% endif %}
									</span><span class="state_loading d_n">
										<img src="{{ asset('image/tail-spin.svg')  }}" />
									</span>
								</span>
								<span>
									{{ tag.name }}
								</span>
							</span>
						{% endfor %}
						<span class="both"></span>
					</div>
				</div>

				<div class="sep"></div>

                {{ include("event/include/footer_event_edit.html.twig") }}
			</div>
		</div>
	</div>
{% endblock %}