{% extends "front.html.twig" %}

{% block title %}Evènement - {{ event.title }}{% endblock %}

{% block metadescription %}
	{{ substrSpace(event.introduction, 160) }}
{% endblock %}


{% block body %}
	<div class="cr">
		<div class="mg_v10">
			<div class="ct">
				<div id="et_view">
					<div class="mg_10 introduction">
						{{ event.introduction }}
					</div>

					{# twig extension #}
					{% set illustration = eventIllustration(event) %}
					<div class="mg_10">
						<div class="cover" style="background: #81b5e2 url('{{ illustration | imagine_filter('1200x500') }}') no-repeat scroll center center / cover ;">
							<div id="map_event"></div>
							<div class="title">
								<h1>{{ event.title }}</h1>
                                {% if tags | length > 0 %}
									<div class="mg_t10 list_tags">
										{% if tags | length == 1 %}
											<i class="fas fa-tag"></i>
										{% else %}
											<i class="fas fa-tags"></i>
										{% endif %}
                                       	{% for tag in tags %}
											<span class="tag_item">
												<a href="{{ path('event_view_tag', {'slug': tag.slug}) }}" >{{ tag.name }}</a>
											</span>
                                        {% endfor %}
									</div>
                                {% endif %}
							</div>
							{% if event.location | trim != "" or event.city | trim != "" or ( event.latitude | trim != "" and event.longitude | trim != "" ) %}
								<div class="location_wrap">
									<div>
										{% if event.latitude | trim != "" and event.longitude | trim != "" %}
											<span id="show_map_event" data-latitude="{{ event.latitude }}" data-longitude="{{ event.longitude }}"><i class="fas fa-map-marker-alt"></i></span>
											<span id="hide_map_event"><i class="fas fa-undo"></i></span>
										{% endif %}
										<span class="location">
											{{ event.location }}{% if event.location | trim != "" and event.city | trim != "" %},{% endif %} 
											{% if event.city | trim != "" %}{{ event.city }}{% endif %}
										</span>
										<span class="both"></span>
									</div>
								</div>
							{% endif %}
						</div>
						<div class="participation_block">
							{{ include("event/include/participation.html.twig") }}
						</div>
						<div class="both"></div>
					</div>
					<div class="mg_t5 mg_h10">

						{% if event.showAuthor %}
							<strong>Par</strong>
							{# twig extension #}
							{% set userInfo = getLinkUserInfo(event.user, event.user.name) %}
							{{ userInfo | raw }}
						{% endif %}
						{#
						<strong>Le {{ event.date | date('Y-m-d') }}</strong>
						#}
					</div>
					
					<div class="pd_h10 pd_t10">
						{% if event.datebegin | date("Y-m-d") == event.dateend | date("Y-m-d") %}
							<span>Le <strong>{{ getDateLabel(event.datebegin) }} du {{ event.datebegin | date('H:i') }} 
							à {{ event.dateend | date('H:i') }}</strong></span>
						{% else %}
							<span>Du <strong>{{ getDateLabel(event.datebegin) }} à {{ event.datebegin | date('H:i') }}</strong></span> <br />
							<span>Au <strong>{{ getDateLabel(event.dateend) }} à {{ event.dateend | date('H:i') }}</strong></span>
						{% endif %}
					</div>

					<div class="entity_ct mg_10">
						{{ event.content | raw }}
					</div>

					<div class="mg_10">
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							{% if event.user.id == app.user.id %}
								<a class="standar_button" href="{{ path('event_manager_edit', {'event_id': event.id}) }}">Editer</a>
							{% endif %}
						{% endif %}
						
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and is_granted('ROLE_ADMIN') %}
							<a href="{{ path('admin_event_edit', {'event_id': event.id}) }}" target="_blank"><span class="standar_button">Administrer</span></a>
						{% endif %}
					</div>
				</div>

				{# comments #}
				<div class="sp mg_v10"></div>
				<div id="info_comment" class="mg_h10">
                    {{ allComments | length }}
                    {% if allComments | length == 0 or allComments | length == 1 %}
						Commentaire
                    {% else %}
						Commentaires
                    {% endif %}
				</div>

                {% if previousComment %}
					<div id="event_load_comment_action">
						<div class="sp mg_v10"></div>
						<div id="event_load_comment" data-target="{{ path('event_load_comment', {'event_id': event.id, 'comment_id': previousComment.id}) }}" data-previous-cmt="{{ previousComment.id }}" class="mg_h10 ta_c c_p">
							Afficher les commentaires précédents...
						</div>
						<div class="btn_loading ta_c d_n">Chargement...</div>
					</div>
                {% endif %}
				<div class="sp mg_v10"></div>

				<div>
					<div id="event_list_cmt">
                        {% for comment in comments %}
                            {{ include("event/include/comment_item.html.twig") }}
                        {% endfor %}
					</div>
					<div class="both"></div>
                    {% if event.activeComment %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
							<div class="mg_10">
								<form method="post" class="form_cmt">
									<div class="mg_b5">
                                        {{ app.user.name }} :
									</div>
									<div class="ur_avatar">
										{% set avatar = userAvatar(app.user) %}
										<img src="{{ avatar | imagine_filter('60x60') }}" alt="{{ app.user.username }}" />
									</div>
									<div class="detail">
										<textarea class="default_textarea cmt_msg" id="event_cmt_message"></textarea>
										<div id="et_add_comment_error"></div>
										<div id="et_add_comment_action" class="mg_t10">
											<span class="btn_save standar_button btn_event_new_cmt" data-target="{{ path('event_new_comment', {'event_id': event.id}) }}">Ajouter mon commentaire</span>
											<span class="btn_loading">Chargement...</span>
										</div>
									</div>
									<div class="both"></div>
								</form>
							</div>
                        {% else %}
							<div class="mg_10 ta_c">
								<a class="login_ajax" href="{{ path('user_login_ajax') }}">Connectez-vous pour pouvoir ecrire votre commentaire</a>
							</div>
                        {% endif %}
                    {% else %}
						<div class="mg_10 ta_c">
							Les commentaires sont fermés pour cet article.
						</div>
                    {% endif %}
				</div>
				
			</div>
		</div>
	</div>
	
	{# next and previous post #}
	<div class="sep"></div>
	<div class="cr">
		<div class="ct">
			<div class="mg_h10">
				{% if previousEvent is defined and previousEvent is not null %}
					<a class="prev_link" href="{{ path('event_view', {'slug': previousEvent.slug}) }}" title="{{ previousEvent.title }}">
						<span><span class="direction"></span> Précédent </span><br />
						<span>
							{% set illustration = eventIllustration(previousEvent) %}
							<span class="logo"> <img src="{{ illustration | imagine_filter('32x32') }}" alt="ET" /></span>
							<span class="label post">
								<strong>
									{{ previousEvent.title }}
								</strong>
							</span>
						</span>
					</a>
				{% endif %}
				{% if nextEvent is defined and nextEvent is not null %}
					<a class="next_link" href="{{ path('event_view', {'slug': nextEvent.slug}) }}" title="{{ nextEvent.title }}">
						<span>Suivant <span class="direction"></span></span><br />
						<span>
							{% set illustration = eventIllustration(nextEvent) %}
							<span class="logo"> <img src="{{ illustration | imagine_filter('32x32') }}" alt="ET" /></span>
							<span class="label post">
								<strong>
									{{ nextEvent.title }}
								</strong>
							</span>
						</span>
					</a>
				{% endif %}
				<div class="both"></div>
			</div>
		</div>
	</div>
{% endblock %}
