{% extends "back.html.twig" %}

{% block title %}
	Edition de l'évènement #{{ event.id }}
{% endblock %}

{% block body_header %}
	<div class="bc">
		<span class="bc1"><a href="{{ path('admin_event') }}"><img src="{{ asset('image/default_icon.png') }}" style="width:14px; height:auto" /> <span>Evènements</span></a> </span>
		<span class="dd">
			<span href="#" class="dds">
				<span class="bcdd"></span>
			</span>
            {{ include("admin/event/include/event_principal_action.html.twig") }}
		</span>
		<span class="bc1"><a href="{{ path('admin_event_edit', {'event_id': event.id}) }}">{{ event.title }}</a></span>
	</div>
	<div style="padding:8px; float:right">
		<div style="float:left">
			<span class="dd" style="display:inline-block;">
				<span href="#" class="dds" style="cursor:pointer">
					Autres actions
				</span>
				{{ include("admin/event/include/event_other_action.html.twig") }}
			</span> 
		</div>
	</div>
{% endblock %}

{% block content_body %}
	<div style="background:#ddd; padding: 5px; margin:5px; border:1px solid #bbb">
		<span><img src="{{ asset('image/edit_icon.png') }}" style="width:12px; height:auto" /> Edition de l'évènement #{{ event.id }}</span>
		|
		<span class="dd" style="display:inline-block;">
			<span href="#" class="dds" style="cursor:pointer">
				info
			</span>
			<span class="ddt" style="display:block; padding: 5px; text-align: left; margin-top: 4px; position: absolute; display: none; background: #eee; padding: 4px; border: 1px solid #aaa; border-radius: 4px;">
				<span>Auteur : <a class="link" href="{{ path('admin_user_edit', {'user_id': event.user.id}) }}">{{ event.user.name }}</a></span><br />
				<span>Date d'ajout : {{ event.date | date('Y-m-d H:i:s') }}</span><br />
				<span>Nombre de vues : xxx{#{{ post.viewNumber }}#}</span><br />
			</span>
		</span>
	</div>
	
	<div style="padding:5px">
		<div id="change_event_illustration" data-target="{{ path('event_manager_illustration_popup', {'event_id' : event.id})}}" style="float:left; height: 122px;margin:5px">
			{# twig extension #}
			{% set illustration = eventIllustration(event) %}
			<label>
				<img id="event_illustration" style="width: 116px; height: 116px;cursor: pointer" src="{{ illustration | imagine_filter('116x116') }}" alt="img event" />
			</label>
		</div>
		<div style="margin-left: 136px;">
			<form id="form_event_edit" action="{{ path('event_manager_doedit', {'event_id': event.id}) }}">
				<div class="bloc_editable">
					<div class="bloc_view">
						<table>
							<tr>
								<td>Titre</td>
								<td>:</td>
								<td style="padding:5px"><span id="event_view_title">{{ event.title }}</span></td>
							</tr>
							<tr>
								<td>Slug</td>
								<td>:</td>
								<td style="padding:5px"><span id="event_view_slug">{{ event.slug }}</span></td>
							</tr>
						</table>
					</div>
					<div class="bloc_edit" style="display:none">
						<table>
							<tr>
								<td>Titre *</td>
								<td>:</td>
								<td style="padding:5px">
									<input type="text" id="event_input_title" class="default_input" required="required" value="{{ event.title }}" />
									<span class="error_title error_txt"></span>
								</td>
							</tr>
							<tr>
								<td>Slug</td>
								<td>:</td>
								<td style="padding:5px"><input type="text" id="event_input_slug" class="default_input" value="{{ event.slug }}" /></td>
							</tr>
						</table>
					</div>
					<div class="separator"></div>
					<div class="bloc_action" style="margin:5px">
						<span class="btn_edit standar_button">Modifier</span> 
						{#
						<span class="btn_save standar_button" id="btn_doedit_event" data-target="{{ path('event_manager_doedit', {'event_id': event.id}) }}" style="display:none">Enregistrer</span>
						#}
						<button class="btn_save standar_button" id="btn_doedit_event" type="submit" form="form_event_edit" value="Submit" style="display:none">Enregistrer</button>
						<span class="btn_reset standar_button" style="display:none">Annuler</span> 
						<span class="btn_loading" style="display:none;padding:5px;border:1px solid transparent;margin: 0px 5px 0px 0px;"><img src="{{ asset('image/tail-spin.svg') }}" style="width: 20px;height: 20px"/>Chargement...</span>
					</div>
				</div>
			</form>
		</div>
		<div class="both"></div>
	</div>

	<div class="mg_10">
		{# datebegin/dateend #}
		<div><strong>Quand aura lieu l'évènement?</strong></div>
		
		<form id="form_event_edit_date" action="{{ path('event_manager_doedit_date', {'event_id': event.id}) }}">
			<div class="bloc_editable">
				<div class="bloc_view" style="margin: 5px 0; border: 1px solid #ccc; border-radius: 4px">
					<div class="pd_l5"><i>Date début : <span class="error_datebegin error_txt"></span></i></div>
					<div style="padding:5px"><span id="event_view_datebegin">{{ event.datebegin | date('d/m/Y à H:i') }}</span></div>

					<div class="pd_l5"><i>Date fin : <span class="error_dateend error_txt"></span></i></div>
					<div style="padding:5px"><span id="event_view_dateend">{{ event.dateend | date('d/m/Y à H:i') }}</span></div>
				</div>
				<div class="bloc_edit" style="display:none;margin: 10px 0; border: 1px solid #ccc; border-radius: 4px">
					<div class="pd_l5"><i>Date début *:</i></div>
					<div style="padding:5px"><input type="text" readonly="true" id="event_input_datebegin" class="default_input" name="slug" value="{{ event.datebegin | date('d/m/Y à H:i') }}" /></div>
					
					<div class="pd_l5"><i>Date fin *:</i></div>
					<div style="padding:5px"><input type="text" readonly="true" id="event_input_dateend" class="default_input" name="slug" value="{{ event.dateend | date('d/m/Y à H:i') }}" /></div>
				</div>
				<div class="bloc_action mg_v10">
					<span class="btn_edit standar_button">Modifier</span>
					<button class="btn_save standar_button" id="btn_doedit_date_event" type="submit" form="form_event_edit_date" value="Submit" style="display:none">Enregistrer</button>
					<span class="btn_reset standar_button" style="display:none">Annuler</span>
					<span class="btn_loading" style="display:none;padding:5px;border:1px solid transparent;margin: 0px 5px 0px 0px;"><img src="{{ asset('image/tail-spin.svg') }}" style="width:16px; height:16px; "/>Chargement...</span>
				</div>
			</div>
		</form>
			
		{# location #}
		<div><strong>Ou se déroule l'évènement?</strong></div>
		
		<form id="form_event_edit_location" action="{{ path('event_manager_doedit_location', {'event_id': event.id}) }}">
			<div class="bloc_editable">
				<div class="bloc_view" style="margin: 5px 0; border: 1px solid #ccc; border-radius: 4px">
					<div class="pd_l5"><i>Lieu : <span class="error_location error_txt"></span></i></div>
					<div style="padding:5px"><span id="event_view_location">{{ event.location }}</span></div>

					<div class="pd_l5"><i>Ville :</i></div>
					<div style="padding:5px"><span id="event_view_city">{{ event.city }}</span></div>

					<div class="pd_l5"><i>Latitude :</i></div>
					<div style="padding:5px"><span id="event_view_latitude">{{ event.latitude }}</span></div>

					<div class="pd_l5"><i>Longitude :</i></div>
					<div style="padding:5px"><span id="event_view_longitude">{{ event.longitude }}</span></div>
				</div>
				<div class="bloc_edit" style="display:none;margin: 10px 0; border: 1px solid #ccc; border-radius: 4px">
					<div class="pd_l5"><i>Lieu :</i></div>
					<div style="padding:5px"><input type="text" id="event_input_location" class="default_input" value="{{ event.location }}" /></div>

					<div class="pd_l5"><i>Ville :</i></div>
					<div style="padding:5px"><input type="text" id="event_input_city" class="default_input" value="{{ event.city }}" /></div>
					
					<div class="pd_l5"><i>Latitude :</i></div>
					<div style="padding:5px">
						<input type="text" id="event_input_latitude" class="default_input" value="{{ event.latitude }}" />
						<span class="get-coords-event" style="cursor: pointer"><img src="{{ asset('image/location_icon.png') }}" style="width:12px; height:auto" /> map</span>
					</div>

					<div class="pd_l5"><i>Longitude :</i></div>
					<div style="padding:5px">
							<input type="text" id="event_input_longitude" class="default_input" value="{{ event.longitude }}" />
							<span class="get-coords-event" style="cursor: pointer"><img src="{{ asset('image/location_icon.png') }}" style="width:12px; height:auto" /> map</span>
					</div>
				</div>
				<div class="bloc_action mg_v10">
					<span class="btn_edit standar_button">Modifier</span>
					<button class="btn_save standar_button" id="btn_doedit_date_event" type="submit" form="form_event_edit_location" value="Submit" style="display:none">Enregistrer</button>
					<span class="btn_reset standar_button" style="display:none">Annuler</span>
					<span class="btn_loading" style="display:none;padding:5px;border:1px solid transparent;margin: 0px 5px 0px 0px;"><img src="{{ asset('image/tail-spin.svg') }}" style="width:16px; height:16px; "/>Chargement...</span>
				</div>
			</div>
		</form>
			
		<div><strong>A propos de l'évènement</strong></div>
		
		<div class="bloc_editable">
			<div class="bloc_view" style="margin: 5px 0; border: 1px solid #ccc; padding: 5px; border-radius: 4px">
				<div>
					<div style="margin: 5px 0;">
						<i>Introduction :</i>
					</div>
					<div class="event_view_introduction" style="padding:5px;background:#fff; ">
						{{ event.introduction }}
					</div>
				</div>

				<div>
					<div style="margin: 5px 0;">
						<i>Contenu :</i>
					</div>
					<div class="event_view_content" style="padding:5px;background:#fff; ">
						{{ event.content | raw }}
					</div>
				</div>
			</div>
			<div class="bloc_edit" style="display:none;margin: 10px 0; border: 1px solid #ccc; padding: 5px; border-radius: 4px">
				<div>
					<div style="margin: 5px 0;">
						<i>Introduction :</i>
					</div>
					<div>
						<textarea class="event_input_introduction default_textarea">{{ event.introduction }}</textarea>
					</div>
				</div>
				<div>
					<div style="margin: 5px 0;">
						<i>Contenu :</i>
					</div>
					<div>
						<textarea id="event_input_content" class="event_input_content default_textarea tinymce">{{ event.content | raw }}</textarea>
					</div>

					<script type="text/javascript">
						var CKEDITOR_BASEPATH = "/bundles/fosckeditor/";
					</script>
					<script type="text/javascript" src="/bundles/fosckeditor/ckeditor.js"></script>
					<script type="text/javascript">
						if (CKEDITOR.instances["event_input_content"]) {
							CKEDITOR.instances["event_input_content"].destroy(true);
							delete CKEDITOR.instances["event_input_content"];
						}
						CKEDITOR.replace("event_input_content", {"uiColor":"#eeeeee","language":"en"});
					</script>
				</div>
			</div>
			<div class="bloc_action mg_v10">
				<span class="btn_edit standar_button">Modifier</span>
				<span class="btn_doedit_content_event btn_save standar_button" data-target="{{ path('event_manager_doedit_content', {'event_id': event.id}) }}" style="display:none">Enregistrer</span>
				<span class="btn_reset standar_button" style="display:none">Annuler</span>
				<span class="btn_loading" style="display:none;padding:5px;border:1px solid transparent;margin: 0px 5px 0px 0px;"><img src="{{ asset('image/tail-spin.svg') }}" style="width:16px; height:16px; "/>Chargement...</span>
			</div>
		</div>
	</div>
{% endblock %}

{% block body_footer %}
	<div style="padding-top: 8px">
		<span class="toggle_case" data-target="{{ path('event_manager_toggle_publication', {'event_id': event.id}) }}">
			{% if event.published %}
				<span class="greenstate" style="display:none"><span class="greenpastille"></span> <span>Publier</span></span>
				<span class="redstate"><span class="redpastille"></span> <span>Ne pas publier</span></span>
			{% else %}
				<span class="greenstate"><span class="greenpastille"></span> <span>Publier</span></span>
				<span class="redstate" style="display:none"><span class="redpastille"></span> <span>Ne pas publier</span></span>
			{% endif %}
		</span><span class="state_loading" style="display:none">
			<img src="{{ asset('image/tail-spin.svg')  }}" style="width:10px; height:10px;display: inline-block; vertical-align: middle;" /> Chargement...
		</span>
		|
		<span class="toggle_case" data-target="{{ path('event_manager_toggle_show_author', {'event_id': event.id}) }}">
			{% if event.showAuthor %}
				<span class="greenstate" style="display:none"><span class="greenpastille"></span> <span>Afficher l'auteur</span></span>
				<span class="redstate"><span class="redpastille"></span> <span>Ne pas afficher l'auteur</span></span>
			{% else %}
				<span class="greenstate"><span class="greenpastille"></span> <span>Afficher l'auteur</span></span>
				<span class="redstate" style="display:none"><span class="redpastille"></span> <span>Ne pas afficher l'auteur</span></span>
			{% endif %}
		</span><span class="state_loading" style="display:none">
			<img src="{{ asset('image/tail-spin.svg')  }}" style="width:10px; height:10px;display: inline-block; vertical-align: middle;" /> Chargement...
		</span>
		|
		<span class="toggle_case" data-target="{{ path('event_manager_toggle_active_comment', {'event_id': event.id}) }}">
			{% if event.activeComment %}
				<span class="greenstate" style="display:none"><span class="greenpastille"></span> <span>Activer les commentaires</span></span>
				<span class="redstate"><span class="redpastille"></span> <span>Désactiver les commentaires</span></span>
			{% else %}
				<span class="greenstate"><span class="greenpastille"></span> <span>Activer les commentaires</span></span>
				<span class="redstate" style="display:none"><span class="redpastille"></span> <span>Désactiver les commentaires</span></span>
			{% endif %}
		</span><span class="state_loading" style="display:none">
			<img src="{{ asset('image/tail-spin.svg')  }}" style="width:10px; height:10px;display: inline-block; vertical-align: middle;" /> Chargement...
		</span>
        {% if event.tovalid %}
			|
		<span class="toggle_case" data-target="{{ path('event_manager_toggle_validation', {'event_id': event.id}) }}">
			{% if event.valid %}
				<span class="greenstate" style="display:none"><span class="greenpastille"></span> <span>Valider</span></span>
				<span class="redstate"><span class="redpastille"></span> <span>Ne pas valider</span></span>
			{% else %}
				<span class="greenstate"><span class="greenpastille"></span> <span>Valider</span></span>
				<span class="redstate" style="display:none"><span class="redpastille"></span> <span>Ne pas valider</span></span>
			{% endif %}
		</span><span class="state_loading" style="display:none">
			<img src="{{ asset('image/tail-spin.svg')  }}" style="width:10px; height:10px;display: inline-block; vertical-align: middle;" /> Chargement...
		</span>
		{% endif %}
	</div> 
{% endblock %}

