{% extends "back.html.twig" %}

{% block title %}
  Ajout d'un nouvel évènement
{% endblock %}

{% block body_header %}
	<div class="bc">
		<span class="bc1"><a href="{{ path('admin_event') }}"><img src="{{ asset('image/default_icon.png') }}" style="width:14px; height:auto" /> <span>Evènements</span></a> </span>
		<span class="dd">
			<span href="#" class="dd_src">
				<span class="bcdd"></span>
			</span>
            {{ include("admin/event/include/event_principal_action.html.twig") }}
		</span>
		<span class="bc1"><a href="{{ path('admin_event_add') }}">Ajout d'un évènement</a></span>
	</div>
	<div style="padding:8px;float:right">
		<span><a href="{{ path('admin_event_add') }}"><img src="{{ asset('image/add_icon.png') }}" /> <span>Nouvel évènement</span></a></span>
	</div>
{% endblock %}

{% block content_body %}
	<div style="background:#ddd; padding: 5px; margin:5px; border:1px solid #bbb">
		Ajout d'un nouvel évènement
	</div>
	
	<div style="padding:5px">
	<div style="margin: 10px 0">
		Et licet quocumque oculos flexeris feminas adfatim multas spectare cirratas, quibus, si nupsissent, per aetatem ter iam nixus poterat suppetere liberorum, ad usque taedium pedibus pavimenta tergentes iactari volucriter gyris, dum exprimunt innumera simulacra, quae finxere fabulae theatrales.
	</div>
	<div>
		<form name="" method="post">

			<div>                
				<div><label for="title" class="required">Titre * : </label></div>
				<div><input type="text" id="title" name="title" required="required"  class="default_input" /></div>
			</div>
			<div>
				<div><label for="datebegin_event" class="required">Date et heure debut * : </label></div>
				<div><input type="text" id="datebegin_event" name="datebeginText" required="required"  class="default_input" /></div>
			</div>
			<div>
				<div><label for="dateend_event" class="required">Date et heure fin * : </label></div>
				<div><input type="text" id="dateend_event" name="dateendText" required="required"  class="default_input" /></div>
			</div>
			
			<div style="padding:10px 0">
				<button type="submit" id="ajouter" name="add" class="standar_button">{{ 'Ajouter' | trans }}</button>
			</div>
		</form>
	</div>
	<div style="margin: 10px 0">
		Accenderat super his incitatum propositum ad nocendum aliqua mulier vilis, quae ad palatium ut poposcerat intromissa insidias ei latenter obtendi prodiderat a militibus obscurissimis.
	</div>
	</div>
{% endblock %}

