<div class="avatar_item {{ classActive }}">
	<span class="delete_avatar" data-target="{{ path('user_delete_avatar', {'id': avatar.id}) }}"><img src="{{ asset('image/cross_icon.png') }}" alt="x" style="width:8px;height:8px;display:block;margin:auto"/></span>
	<img class="user_avatar_popup" data-target="{{ path('user_select_avatar', {'id': avatar.id}) }}" src="{{ avatar.webPath | imagine_filter('116x116') }}" alt="" />
</div>