<div style="min-height:100px" class="mg_v5 mg_10">	
	<div id="content_tab">
		<div class="content_tab_header">
			<div class="content_tab_header_content">
				<div class="content_tab_header_item selected" id="tab_about">
					<div class="content_tab_header_item_text">
						Présentation
					</div>
				</div>
				<div class="content_tab_header_item" id="tab_field">
					<div class="content_tab_header_item_text">
						{{ school.option.pluralName | capitalize }}
					</div>
				</div>
				<div class="content_tab_header_item" id="tab_contact">
					<div class="content_tab_header_item_text">
						Contacts
					</div>
				</div>
			</div>
			<div class="content_tab_header_sep">
				<div class="content_tab_header_sep_slide">
				</div>
			</div>
		</div>
		<div class="content_tab_content">
			<div class="mg_v10">
				<div class="content_tab_content_item selected" id="content_tab_about">
					{{ school.description | raw}}
				</div>
			</div>
			<div class="content_tab_content_item" id="content_tab_field">
				{# fields #}
				{% if fields %}
					{% for field in fields %}
						<div class="mg_b10">
							<div style="font-weight:bold">
								<i class="fas fa-angle-right"></i> {{ field.name }}
							</div>
							{% if field.description is null or field.description | trim == "" %}
							{% else %}
								<div class="sep mg_v5"></div>
								<div style="display:block">
									{{ field.description | raw }}
								</div>
							{% endif %}
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div class="content_tab_content_item" id="content_tab_contact">
				{{ include("school/include/contact.html.twig") }}
			</div>
		</div>
	</div>
</div>