<div class="document_item mg_b10">
	<div class="sp mg_v10"></div>
	<div class="mg_b5">
		<div class="fileicon">
			{% set fileicon = fileIcon(document.newName) %}
			<img src="{{ asset('image/fileicon/' ~ fileicon ~'.png') }}" />
		</div>
		<div class="doc_detail">
			<div class="info">
				<strong>{{ document.newName }} ({{ document.formattedFilesize }})</strong>
			</div>
			<div class="f_r">
				<span class="download_count">
					{% set countDownloads = document.downloads | length %}
					{% if countDownloads > 1 %}
						{{ countDownloads }} téléchargements
					{% else %}
						{{ countDownloads }} téléchargement
					{% endif %}
				</span>
				<a target="_blank" data-target="{{ path('school_document_status', {'document_id': document.id}) }}" class="btn_download c_p" href="{{ path('school_document_download', {'slug': school.slug, 'document_id': document.id}) }}" data-name="{{ document.name }}">
					<i class="fas fa-download"></i>
				</a>
			</div>
			<div class="cl_r pd_b5"></div>
			{% if document.description | trim != "" %}
				<div class="description">
					{{ document.description | nl2br }}
				</div>
			{% endif %}
		</div>
		<div class="both"></div>
	</div>
</div>