<div class="document_item mg_b10">
	<div class="sp mg_v10"></div>
	<div class="mg_b5">
		<div style="float: left;width: 55px">
			{% set fileicon = fileIcon(document.newName) %}
			<img src="{{ asset('image/fileicon/' ~ fileicon ~'.png') }}" style="width: 55px; height: 55px" />
		</div>
		<div style="margin-left: 60px">
			<div style="float: left; width: calc(100% - 170px)">
				<strong style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;display: inline-block;width: 100%;">{{ document.newName }} ({{ document.formattedFilesize }})</strong>
			</div>
			<div style="float: right">
				<span class="download_count">
					{% set countDownloads = document.downloads | length %}
					{% if countDownloads > 1 %}
						{{ countDownloads }} téléchargements
					{% else %}
						{{ countDownloads }} téléchargement
					{% endif %}
				</span>
				<a target="_blank" data-target="{{ path('school_document_status', {'document_id': document.id}) }}" class="btn_download" href="{{ path('school_document_download', {'slug': school.slug, 'document_id': document.id}) }}" data-name="{{ document.name }}" style="cursor:pointer">
					<img src="{{ asset('image/download_icon.png') }}" style="vertical-align:top;display:inline-block;width:18px; height:auto" />
				</a>
			</div>

			{% if document.description | trim != "" %}
				<div class="mg_v5 pd_v5" style="clear:right">
					<div class="pd_5" style="border:1px solid #eee; background:#eff6ff; border-radius:3px;clear:right">
						{{ document.description | nl2br }}
					</div>
				</div>
			{% endif %}
		</div>
		<div class="both"></div>
	</div>
</div>