<div class="evaluation_item mg_b10">
	<div class="sp mg_v10"></div>
	<div class="mg_b5">
	Par :
	{# twig extension #}
	{% set userInfo = getLinkUserInfo(evaluation.user, evaluation.user.name) %}

		{#{% set userInfo = evaluation.user.name %}#}
	{{ userInfo | raw }} le {{ getDateLabel(evaluation.date) }} à {{ evaluation.date | date('H:i') }}
	</div>
	<div class="ur_avatar">
		{% set avatar = userAvatar(evaluation.user) %}
		<img src="{{ avatar | imagine_filter('50x50') }}" alt="{{ getAcronym(evaluation.user.name) }}" />
	</div>
	<div class="ev_detail">
		<div class="mark">
			<div class="left label">Notes : </div>
			{% set mark = evaluation.mark/20 %}
			{% for i in 1..5 %}
				{% if i <= mark %}
					<div class="left pd_5"><div class="eval_star_view_item selected" data-value="20"></div></div>
				{% else %}
					<div class="left pd_5"><div class="eval_star_view_item" data-value="100"></div></div>
				{% endif %}
			{% endfor %}			
		</div>
		<div class="mg_b5">
			{{ evaluation.comment | nl2br  }}
		</div>
	</div>
	<div class="both"></div>
</div>