{% set nbAllSchools = allSchools | length %}
{% set nbPagesFormat = ((nbAllSchools / limit) - 0.5) | number_format  %}

{% if (nbAllSchools / limit) == nbPagesFormat%}
	{% set nbPages = nbPagesFormat %}
{% else %}
	{% set nbPages = nbPagesFormat + 1 %}
{% endif %}

{% for page in 1..nbPages %}
	{% if currentpage == page%}
		<a class="sll_pagination_item active" title="page {{ page }}" href="{{ path('platform_search', {'entity':entity, 'page': page, 'q' : q, 'category' : catSlug, 'type' : typeSlug }) }}">
			{{ page }}  
		</a>
	{% else %}
		<a class="sll_pagination_item" title="page {{ page }}" href="{{ path('platform_search', {'entity':entity, 'page': page, 'q' : q, 'category' : catSlug, 'type' : typeSlug }) }}">
			{{ page }}  
		</a>
	{% endif %}
{% endfor %}