<div style="">
	{# twig extension #}
	{% set logo = schoolLogo(school) %}
	
	<span>
		<span class="dd" style="display:inline-block;vertical-align: middle">
			<span href="#" class="dd_src" style="cursor:pointer">
				<img src="{{ logo | imagine_filter('22x22') }}" alt="" style="vertical-align: top; "/>
			</span>
            <span class="dd_target dd_tdfault">
				<a class="link dd_item" href="{{ path('school_view', {'slug': school.slug, 'type': 'about'}) }}">
					<span class="icon"><img src="{{ logo | imagine_filter('22x22') }}" /></span><span class="label">A propos</span>
				</a>
				<span class="sp"></span>
				<a class="link dd_item" href="{{ path('school_view', {'slug': school.slug, 'type': 'post'}) }}">
					<span class="icon"><img src="{{ asset('image/sl_bg_icon.png') }}" /></span><span class="label">Articles</span>
				</a>
				<a class="link dd_item" href="{{ path('school_view', {'slug': school.slug, 'type': 'event'}) }}">
					<span class="icon"><img src="{{ asset('image/sl_at_icon.png') }}" /></span><span class="label">Evènements</span>
				</a>
				<a class="link dd_item" href="{{ path('school_view', {'slug': school.slug, 'type': 'evaluation'}) }}">
					<span class="icon"><img src="{{ asset('image/sl_star_icon.png') }}" /></span><span class="label">Evaluations</span>
				</a>
				<a class="link dd_item" href="{{ path('school_view', {'slug': school.slug, 'type': 'document'}) }}">
					<span class="icon"><img src="{{ asset('image/sl_document_icon.png') }}" /></span><span class="label">Documents</span>
				</a>
			</span>
		</span>
		<a title="{{ school.name }}" href="{{ path('school_view', {'slug': school.slug}) }}" style="vertical-align:middle; display:inline-block; width: 100%;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;">
		{% if school.shortName | trim != "" %}
		{{ school.shortName }} - 
		{% endif %}
		{{ school.name }}
		</a>
	</span>
</div>