<div class="sl_oftheday">

	{% set cover = schoolCover(school) %}
	<div class="cover_box" style="background: rgba(255, 255, 255, 1) url('{{ cover | imagine_filter('1200x300') }}') no-repeat scroll center center / cover ;">
	
		<div class="label">
			<a title="{{ school.name }}" href="{{ path('school_view', {'slug': school.slug}) }}">
				{{ school.name }}
				
				{% if school.shortName | trim != "" %}
					<br />
					{{ school.shortName }}
				{% endif %}
			</a>
		</div>
	
	</div>
	
	{# twig extension #}
	{% set logo = schoolLogo(school) %}
	<div class="logo_box">
		<img src="{{ logo | imagine_filter('160x160') }}" alt="img sl" />
	</div>
	<div class="link_box">
		<span class="link_item">
			<a href="{{ path('school_view', {'slug': school.slug, 'type': 'about'}) }}"><img src="{{ logo | imagine_filter('20x20') }}" alt="AU" /></a>
		</span><!--
		--><span class="link_item">
			<a href="{{ path('school_view', {'slug': school.slug, 'type': 'event'}) }}"><i class="fas fa-calendar-day"></i></a>
		</span><!--
		--><span class="link_item">
			<a href="{{ path('school_view', {'slug': school.slug, 'type': 'post'}) }}"><i class="far fa-edit"></i></a>
		</span><!--
		--><span class="link_item">
			<a href="{{ path('school_view', {'slug': school.slug, 'type': 'evaluation'}) }}"><i class="fas fa-star-half-alt"></i></a>
		</span><!--
		--><span class="link_item">
			<a href="{{ path('school_view', {'slug': school.slug, 'type': 'document'}) }}"><i class="fas fa-arrow-alt-circle-down"></i></a>
		</span>
	</div>
	<div class="both"></div>
	<!--<div class="under"></div>-->
</div>