<div>
	{# twig extension #}
	{% set logo = schoolLogo(school) %}
	
	<span>
		<span class="dd d_ib va_m">
			<span href="#" class="dds c_p">
				<img src="{{ logo | imagine_filter('22x22') }}" alt="" class="va_t"/>
			</span>
            <span class="ddt dd_tdfault">
				<a class="dd_item" href="{{ path('school_view', {'slug': school.slug, 'type': 'about'}) }}">
					<span class="icon"><img src="{{ logo | imagine_filter('22x22') }}" /></span><span class="label">A propos</span>
				</a>
				<span class="sp"></span>
				<a class="dd_item" href="{{ path('school_view', {'slug': school.slug, 'type': 'event'}) }}">
					<span class="icon"><i class="fas fa-calendar-day"></i></span><span class="label">Evènements</span>
				</a>
				<a class="dd_item" href="{{ path('school_view', {'slug': school.slug, 'type': 'post'}) }}">
					<span class="icon"><i class="far fa-edit"></i></span><span class="label">Articles</span>
				</a>
				<a class="dd_item" href="{{ path('school_view', {'slug': school.slug, 'type': 'evaluation'}) }}">
					<span class="icon"><i class="fas fa-star-half-alt"></i></span><span class="label">Evaluations</span>
				</a>
				<a class="dd_item" href="{{ path('school_view', {'slug': school.slug, 'type': 'document'}) }}">
					<span class="icon"><i class="fas fa-arrow-alt-circle-down"></i></span><span class="label">Documents</span>
				</a>
			</span>
		</span>
		<a class="name" title="{{ school.name }}" href="{{ path('school_view', {'slug': school.slug}) }}">
		{% if school.shortName | trim != "" %}
		{{ school.shortName }} - 
		{% endif %}
		{{ school.name }}
		</a>
	</span>
</div>