{% extends "front.html.twig" %}

{% block title %}Offre - {{ job.title }}{% endblock %}

{% block metadescription %}
	
{% endblock %}


{% block body %}
	<div class="cr">
		<div class="mg_v10">
			<div class="ct">
				<div id="jb_view">
					<div class="mg_10">
						<h1>{{ job.title }}</h1>
						<div class="sep"></div>
						<div>
							{% if job.society is not null and job.society | trim != "" %}
								<div>Société : {{ job.society }}</div>
							{% endif %}
							{% if job.contract is not null %}
								<div>Contrat : {{ job.contract.name }}</div>
							{% endif %}
							{% if job.salary is not null and job.salary | trim != "" %}
								<div>Salaire : {{ job.salary }}</div>
							{% endif %}
							{% if job.datelimit is not null %}
								<div>Date limite : {{ job.datelimit | date('d/m/Y à H:i') }}</div>
							{% endif %}
						</div>
					</div>
					<div class="sep"></div>
					<div id="apply_files" class="mg_10">
						{{ include("job/include/job_apply_files.html.twig") }}
					</div>
					<div class="sep"></div>
					<div id="apply_files" class="mg_10">
						<div>Contenu :</div>
						<div>
							<textarea class="default_textarea" id="content_application"></textarea>
						</div>
					</div>
					<div class="sep"></div>
					<div class="mg_10 ta_r">
						<div>
							{#<input type="checkbox" value="1" id="sendme_application"/> <label for="sendme_application" >m'envoyer une copie</label>#}
							<span class="standar_button" id="btn_apply" data-target="{{ path('job_view_doapply', {'slug': job.slug}) }}">Envoyer ma candidature</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}
