{% extends "front.html.twig" %}

{% block title %}
  Edition de l'offre #{{ job.id }}
{% endblock %}


{% block body %}
	<div class="cr entity_edit">
		<div class="ct">
			<div class="mg_10">
				{{ include("job/include/header_job_edit.html.twig") }}
				{% if job.tovalid == false or job.valid %}
					<div class="meta_info mg_v10">
						<div class="meta_illustration" id="change_job_illustration" data-target="{{ path('job_manager_illustration_popup', {'job_id' : job.id})}}">
							{# twig extension #}
							{% set illustration = jobIllustration(job) %}
							<label>
								<span class="text"><i class="fas fa-pen-square"></i><br />Cliquez ici pour éditer l'illustration de l'offre</span>
								<img id="job_illustration" class="600x250 c_p" src="{{ illustration | imagine_filter('600x250') }}" alt="img job" />
							</label>
						</div>

						<div class="meta_title">
							<form id="form_job_edit" action="{{ path('job_manager_doedit', {'job_id': job.id}) }}">
								<div class="bloc_editable">
									<div class="bloc_view">
										<div class="pd_l5"><strong>Titre du poste : <span class="error_title error_txt"></span></strong></div>
										<div class="pd_5"><span id="job_view_title">{{ job.title }}</span></div>

										<div class="pd_l5"><strong>Slug :</strong></div>
										<div class="pd_5"><span id="job_view_slug">{{ job.slug }}</span></div>

										<div class="pd_l5"><strong>Secteur :</strong></div>
										<div class="pd_5"><span id="job_view_sector">{{ job.sector.name }}</span></div>
									</div>
									<div class="bloc_edit d_n">
										<div class="pd_l5">Titre du poste *: <span class="error_title error_txt"></span></span></div>
										<div class="pd_5"><input type="text" id="job_input_title" class="default_input" name="title" value="{{ job.title }}" /></div>
										
										<div class="pd_l5">Slug *:</div>
										<div class="pd_5"><input type="text" id="job_input_slug" class="default_input" name="slug" value="{{ job.slug }}" /></div>
													
										<div class="pd_l5"><label for="sectorId" class="required">Secteur * : </label></div>
										<div class="pd_5">
											<select id="sectorId" name="sectorId" required="required"  class="default_input">
												{% for sector in sectors %}
												{% set selected = "" %}
												{% if job.sector.id == sector.id %}
												{% set selected = "selected" %}
												{% endif %}
													<option value="{{ sector.id }}" {{ selected }}>{{ sector.name }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="separator"></div>
									<div class="bloc_action mg_5">
										<span class="btn_edit standar_button">Modifier</span>
										<button class="btn_save standar_button d_n" id="btn_doedit_job" type="submit" form="form_job_edit" value="Submit">Enregistrer</button>
										<span class="btn_reset standar_button d_n">Annuler</span>
										<span class="btn_loading d_n"><img src="{{ asset('image/tail-spin.svg') }}"/>Chargement...</span>
									</div>
								</div>
							</form>
						</div>
						<div class="both"></div>
					</div>
				{% else %}
					<div class="meta_info mg_v10">
						<div class="meta_illustration" id="change_illustration_fix">
							{# twig extension #}
							{% set illustration = jobIllustration(job) %}
							<label>
								<img id="job_illustration" class="600x250 c_p" src="{{ illustration | imagine_filter('600x250') }}" alt="img job" />
							</label>
						</div>

						<div class="meta_title">
							<div class="pd_l5"><strong>Titre du poste : <span class="error_title error_txt"></span></strong></div>
							<div class="pd_5"><span id="job_view_title">{{ job.title }}</span></div>

							<div class="pd_l5"><strong>Slug :</strong></div>
							<div class="pd_5"><span id="job_view_slug">{{ job.slug }}</span></div>

							<div class="pd_l5"><strong>Secteur :</strong></div>
							<div class="pd_5"><span id="job_view_sector">{{ job.sector.name }}</span></div>
						</div>
						<div class="both"></div>
					</div>
				{% endif %}
				<div><strong>Details de l'offre</strong></div>
				{% if job.tovalid == false or job.valid %}
					<form id="form_job_edit_detail" action="{{ path('job_manager_doedit_detail', {'job_id': job.id}) }}">
						<div class="bloc_editable">
							<div class="bloc_view bc_info">
								<div>
									<div class="mg_v5">
										<strong>Société :</strong> 
										<span id="job_view_society">
											{{ job.society }}
										</span>
									</div>
								</div>
								<div>
									<div class="mg_v5">
										<strong>Contrat :</strong> 
										<span id="job_view_contract">
											{% if job.contract is not null %}
												{{ job.contract.name }}
											{% endif %}
										</span>
									</div>
								</div>
								<div>
									<div class="mg_v5">
										<strong>Salaire :</strong> 
										<span id="job_view_salary">
											{{ job.salary }}
										</span>
									</div>
								</div>
								<div>
									<div class="mg_v5">
										<strong>Date limite de la candidature :</strong>
										<span id="job_view_datelimit">
											{% if job.datelimit is not null %}
												{{ job.datelimit | date('d/m/Y à H:i') }}
											{% endif %}
										</span>
									</div>
								</div>
								<div class="sp"></div>
								<div>
									<div class="mg_v5">
										<strong>Description :</strong>
									</div>
									<div id="job_view_description">
										{{ job.description | raw }}
									</div>
								</div>
							</div>
							<div class="bloc_edit bc_info d_n">
								<div>
									<div class="mg_v5">
										<i>Société :</i>
									</div>
									<div>
										<input type="text" id="job_input_society" class="default_input" value="{{ job.society }}" />
									</div>
								</div>
								
								<div>
									<div class="mg_v5">
										<i>Contrat :</i>
									</div>
									<div>
										<select id="contractId" name="contractId" class="default_input">
											<option value="0"></option>
											{% for contract in contracts %}
											{% set selected = "" %}
											
											{% if job.contract is not null and job.contract.id == contract.id %}
												{% set selected = "selected" %}
											{% endif %}
												<option value="{{ contract.id }}" {{ selected }}>{{ contract.name }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div>
									<div class="mg_v5">
										<i>Salaire :</i>
									</div>
									<div>
										<input type="text" id="job_input_salary" class="default_input" value="{{ job.salary }}" />
									</div>
								</div>
								
								<div>
									<div class="mg_v5">
										<i>Date limite de la candidature :</i> <span class="error_datelimit error_txt"></span>
									</div>
									<div>
										<input type="text" placeholder="jj/mm/aaaa" id="job_input_datelimit" class="default_input" value="{% if job.datelimit is not null %}{{ job.datelimit | date('d/m/Y H:i') }}{% endif %}" />
									</div>
								</div>
								
								<div>
									<div class="mg_v5">
										<i>Description :</i>
									</div>
									<div>
										<textarea id="job_input_description" class="job_input_description default_textarea tinymce">{{ job.description | raw }}</textarea>
									</div>

									<script type="text/javascript">
										var CKEDITOR_BASEPATH = "/bundles/fosckeditor/";
									</script>
									<script type="text/javascript" src="/bundles/fosckeditor/ckeditor.js"></script>
									<script type="text/javascript">
										if (CKEDITOR.instances["job_input_description"]) {
											CKEDITOR.instances["job_input_description"].destroy(true); 
											delete CKEDITOR.instances["job_input_description"]; 
										}
										CKEDITOR.replace(
											"job_input_description", 
											{"toolbar":[["Cut","Copy","Paste","PasteText","PasteFromWord","-","Undo","Redo","-","Bold","Italic","Underline","-","JustifyLeft","JustifyCenter","JustifyRight","JustifyBlock","-","Styles","Format","Font","FontSize","-","TextColor","BGColor"]],"toolbar2":[["Source","-","Save"],"\/",["Anchor"],"\/",["Maximize"]],"uiColor":"#eeeeee","language":"en"}
										);

									</script>
								</div>
							</div>
							<div class="bloc_action mg_v10">
								<span class="btn_edit standar_button">Modifier</span>
								<button class="btn_save standar_button d_n" type="submit" value="Submit">Enregistrer</button>
								<span class="btn_reset standar_button d_n">Annuler</span>
								<span class="btn_loading d_n"><img src="{{ asset('image/tail-spin.svg') }}"/>Chargement...</span>
							</div>
						</div>
					</form>
				{% else %}
					<div class="bloc_view bc_info">
						<div>
							<div class="mg_v5">
								<strong>Société :</strong> 
								<span id="job_view_society">
									{{ job.society }}
								</span>
							</div>
						</div>
						<div>
							<div class="mg_v5">
								<strong>Contrat :</strong> 
								<span id="job_view_contract">
									{% if job.contract is not null %}
										{{ job.contract.name }}
									{% endif %}
								</span>
							</div>
						</div>
						<div>
							<div class="mg_v5">
								<strong>Salaire :</strong> 
								<span id="job_view_salary">
									{{ job.salary }}
								</span>
							</div>
						</div>
						<div>
							<div class="mg_v5">
								<strong>Date limite de la candidature :</strong>
								<span id="job_view_datelimit">
									{% if job.datelimit is not null %}
										{{ job.datelimit | date('d/m/Y à H:i') }}
									{% endif %}
								</span>
							</div>
						</div>
						<div class="sp"></div>
						<div>
							<div class="mg_v5">
								<strong>Description :</strong>
							</div>
							<div id="job_view_description">
								{{ job.description | raw }}
							</div>
						</div>
					</div>
				{% endif %}
				
				{#contact#}
				<div><strong>Contact</strong></div>
				{% if job.tovalid == false or job.valid %}
					<form id="form_job_edit_contact" action="{{ path('job_manager_doedit_contact', {'job_id': job.id}) }}">
						<div class="bloc_editable">
							<div class="bloc_view bc_info">
								<div>
									<div class="mg_v5">
										<strong>Email :</strong> 
										<span id="job_view_email">
											{{ job.email }}
										</span>
									</div>
								</div>
								<div>
									<div class="mg_v5">
										<strong>Téléphone :</strong> 
										<span id="job_view_phone">
											{{ job.phone }}
										</span>
									</div>
								</div>
								<div>
									<div class="mg_v5">
										<strong>Site web :</strong> 
										<span id="job_view_website">
											{{ job.website }}
										</span>
									</div>
								</div>
								<div>
									<div class="mg_v5">
										<strong>Localisation :</strong> 
										<span id="job_view_location">
											{{ job.location }}
										</span>
									</div>
								</div>
								<div>
									<div class="mg_v5">
										<strong>Ville :</strong> 
										<span id="job_view_city">
											{{ job.city }}
										</span>
									</div>
								</div>
								<div>
									<div class="mg_v5">
										<strong>Latitude :</strong> 
										<span id="job_view_latitude">
											{{ job.latitude }}
										</span>
									</div>
								</div>
								<div>
									<div class="mg_v5">
										<strong>Longitude :</strong> 
										<span id="job_view_logitude">
											{{ job.longitude }}
										</span>
									</div>
								</div>
							</div>
							<div class="bloc_edit bc_info d_n">
								<div>
									<div class="mg_v5">
										<i>Email :</i>
									</div>
									<div>
										<input type="email" id="job_input_email" required="required" class="default_input" value="{{ job.email }}" />
									</div>
								</div>
								<div>
									<div class="mg_v5">
										<i>Téléphone :</i>
									</div>
									<div>
										<input type="text" id="job_input_phone" class="default_input" value="{{ job.phone }}" />
									</div>
								</div>
								<div>
									<div class="mg_v5">
										<i>Site web :</i>
									</div>
									<div>
										<input type="text" id="job_input_website" class="default_input" value="{{ job.website }}" />
									</div>
								</div>
								<div>
									<div class="mg_v5">
										<i>Localisation :</i>
									</div>
									<div>
										<input type="text" id="job_input_location" class="default_input" value="{{ job.location }}" />
									</div>
								</div>
								<div>
									<div class="mg_v5">
										<i>Ville :</i>
									</div>
									<div>
										<input type="text" id="job_input_city" class="default_input" value="{{ job.city }}" />
									</div>
								</div>
								<div>
									<div class="mg_v5">
										<i>Latitude :</i>
									</div>
									<div>
										<input type="text" id="job_input_latitude" class="default_input" value="{{ job.latitude }}" />
										<span class="get-coords-job c_p"><i class="fas fa-map-marker-alt"></i> map</span>
									</div>
								</div>
								<div>
									<div class="mg_v5">
										<i>Longitude :</i>
									</div>
									<div>
										<input type="text" id="job_input_longitude" class="default_input" value="{{ job.longitude }}" />
										<span class="get-coords-job c_p"><i class="fas fa-map-marker-alt"></i> map</span>
									</div>
								</div>
							</div>
							<div class="bloc_action mg_v10">
								<span class="btn_edit standar_button">Modifier</span>
								<button class="btn_save standar_button d_n" type="submit" value="Submit">Enregistrer</button>
								<span class="btn_reset standar_button d_n">Annuler</span>
								<span class="btn_loading d_n"><img src="{{ asset('image/tail-spin.svg') }}"/>Chargement...</span>
							</div>
						</div>
					</form>
				{% else %}
					<div class="bloc_view bc_info">
						<div>
							<div class="mg_v5">
								<strong>Email :</strong> 
								<span id="job_view_email">
									{{ job.email }}
								</span>
							</div>
						</div>
						<div>
							<div class="mg_v5">
								<strong>Téléphone :</strong> 
								<span id="job_view_phone">
									{{ job.phone }}
								</span>
							</div>
						</div>
						<div>
							<div class="mg_v5">
								<strong>Site web :</strong> 
								<span id="job_view_website">
									{{ job.website }}
								</span>
							</div>
						</div>
						<div>
							<div class="mg_v5">
								<strong>Localisation :</strong> 
								<span id="job_view_location">
									{{ job.location }}
								</span>
							</div>
						</div>
						<div>
							<div class="mg_v5">
								<strong>Ville :</strong> 
								<span id="job_view_city">
									{{ job.city }}
								</span>
							</div>
						</div>
						<div>
							<div class="mg_v5">
								<strong>Latitude :</strong> 
								<span id="job_view_latitude">
									{{ job.latitude }}
								</span>
							</div>
						</div>
						<div>
							<div class="mg_v5">
								<strong>Longitude :</strong> 
								<span id="job_view_logitude">
									{{ job.longitude }}
								</span>
							</div>
						</div>
					</div>
                {% endif %}

				{{ include("job/include/footer_job_edit.html.twig") }}
			</div>
		</div>
	</div>
{% endblock %}
