{% extends "front.html.twig" %}

{% block title %}Offre - {{ job.title }}{% endblock %}

{% block metadescription %}
	
{% endblock %}


{% block body %}
	<div class="cr">
		<div class="mg_v10">
			<div class="ct">
				<div id="jb_view">
					<div class="mg_10">
							{% set illustration = jobIllustration(job) %}
						
							<div class="cover" style="width:100%; height: 200px;background: #81b5e2 url('{{ illustration | imagine_filter('1200x500') }}') no-repeat scroll center center / cover ;">
							</div>
						<h1>{{ job.title }}</h1>
						<div class="sep"></div>
						<div>
							{% if job.society is not null and job.society | trim != "" %}
								<div>Société : {{ job.society }}</div>
							{% endif %}
							{% if job.contract is not null %}
								<div>Contrat : {{ job.contract.name }}</div>
							{% endif %}
							{% if job.datelimit is not null %}
								<div>Date limite : {{ job.datelimit | date('d/m/Y à H:i') }}</div>
							{% endif %}
						</div>
						
						{% if job.description is not null %}
							<div class="sep"></div>
							<div>{{ job.description | raw }}</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}
