{% extends "back.html.twig" %}

{% block title %}
    Tableau de bord
{% endblock %}

{% block body_header %}
    <div class="bc">
        <span class="bc1"><a href=""><img src="{{ asset('assets/image/dashboard_icon.png') }}" style="width:14px; height:auto" /> <span>{{ 'Dashboard' | trans }}</span></a> </span>
    </div>
    <div style="padding:8px;float:right">

    </div>
{% endblock %}

{% block content_body_class %}full{% endblock %}
{% block body %}
    <div style="padding:5px">
        <div class="pd_v5">
            <div class="pd_5"><a href="{{ path('admin_school') }}">{{ schools | length }} Etablissements</a> : {{ publishedSchools | length }} publiés</div>
            <div class="sp"></div>
            <div class="pd_v5 a_sl_db_wrap">
                {% set school = getSchoolOfTheDay() %}
                {% if school %}
                    {% set logo = schoolLogo(school) %}
                    <div class="a_sl_db">
                        <div class="content">
                            <div class="pd_5">
                                <span style="display: inline-block;float: left"><a href="{{ path('admin_school_sod') }}">L'établissement du jour</a></span>
                                <span style="display:inline-block; float: right"><a target="_blank" href="{{ path('school_viewbyid', {'id': school.id}) }}"><img src="{{ asset('image/view_icon.png') }}" style="width: 12px; height: auto"/> Aperçu</a></span>
                                <span class="both"></span>
                            </div>
                            <div class="sp"></div>
                            <div style="float: left; width: 80px">
                                <img style="width: 60px; height: 60px; display: block; margin: 10px" src="{{ logo | imagine_filter('60x60') }}" alt="img sl" />
                            </div>
                            <div class="pd_t10" style="margin-left: 80px; ">
                                <div><a href="{{ path('admin_school_edit', {'id': school.id}) }}">{{ school.shortName }}</a></div>
                                <div><a href="{{ path('admin_school_edit', {'id': school.id}) }}">{{ school.name }}</a></div>
                                <div>{{ school.views | length }} vues</div>
                            </div>
                            <div class="both"></div>
                        </div>
                    </div>
                {% endif %}

                {% set school = lastEvaluatedSchool() %}
                {% if school %}
                    {% set logo = schoolLogo(school) %}
                    <div class="a_sl_db">
                        <div class="content">
                            <div class="pd_5">
                                <span style="display: inline-block;float: left"> Dernier établissement évalué</span>
                                <span style="display:inline-block; float: right"><a target="_blank" href="{{ path('school_viewbyid', {'id': school.id}) }}"><img src="{{ asset('image/view_icon.png') }}" style="width: 12px; height: auto"/> Aperçu</a></span>
                                <span class="both"></span>
                            </div>
                            <div class="sp"></div>
                            <div style="float: left; width: 80px">
                                <img style="width: 60px; height: 60px; display: block; margin: 10px" src="{{ logo | imagine_filter('60x60') }}" alt="img sl" />
                            </div>
                            <div class="pd_t10" style="margin-left: 80px; ">
                                <div><a href="{{ path('admin_school_edit', {'id': school.id}) }}">{{ school.shortName }}</a></div>
                                <div><a href="{{ path('admin_school_edit', {'id': school.id}) }}">{{ school.name }}</a></div>
                                <div>{{ school.views | length }} vues</div>
                            </div>
                            <div class="both"></div>
                        </div>
                    </div>
                {% endif %}

                {% set school = mostVisitedSchool() %}
                {% if school %}
                    {% set logo = schoolLogo(school) %}
                    <div class="a_sl_db">
                        <div class="content">
                            <div class="pd_5">
                                <span style="display: inline-block;float: left"> L'établissement le plus consulté</span>
                                <span style="display:inline-block; float: right"><a target="_blank" href="{{ path('school_viewbyid', {'id': school.id}) }}"><img src="{{ asset('image/view_icon.png') }}" style="width: 12px; height: auto"/> Aperçu</a></span>
                                <span class="both"></span>
                            </div>
                            <div class="sp"></div>
                            <div style="float: left; width: 80px">
                                <img style="width: 60px; height: 60px; display: block; margin: 10px" src="{{ logo | imagine_filter('60x60') }}" alt="img sl" />
                            </div>
                            <div class="pd_t10" style="margin-left: 80px; ">
                                <div><a href="{{ path('admin_school_edit', {'id': school.id}) }}">{{ school.shortName }}</a></div>
                                <div><a href="{{ path('admin_school_edit', {'id': school.id}) }}">{{ school.name }}</a></div>
                                <div>{{ school.views | length }} vues</div>
                            </div>
                            <div class="both"></div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block body_footer_wrap %}
{% endblock %}

