<div data-commentid="{{ comment.id }}" class="cmt_item">
	<div class="mg_10">
		<div class="cmt_illustration">
			{% set avatar = userAvatar(comment.user) %}
			<img src="{{ avatar | imagine_filter('60x60') }}" alt="{{ getAcronym(comment.user.name) }}" />
		</div>
		<div class="cmt_ct">
			<div>
				{# twig extension #}
				{% set userInfo = getLinkUserInfo(comment.user, comment.user.name) %}
				Ecrit par {{ userInfo | raw }}
				  Le {{ getDateLabel(comment.date) }} à {{ comment.date | date('H:i') }}
			</div>
			<div>
				{{ comment.comment | nl2br   }}
			</div>
		</div>
		<div class="both"></div>
	</div>
	<div class="sp mg_v10"></div>
</div>