{% set published = true %}
{% if post.tovalid == false or post.valid == false or post.published == false or post.deleted %}
    {% set published = false %}
{% endif %}
<div class="post_item search_item" data-text="{{ post.title }}" data-id="{{ post.id }}">
	<div class="post_image {% if published == false %}op5{% endif %}">
        {# twig extension #}
        {% set illustration = postIllustration(post) %}

		<a href="{{ path('blog_post_view', {'slug': post.slug}) }}" ><img src="{{ illustration | imagine_filter('600x250') }}?v=001" alt="{{ post.title }}" /></a>
	</div>
	<h2 class="post_title {% if published == false %}op5{% endif %}">
		<a href="{{ path('blog_post_view', {'slug': post.slug}) }}">{{ post.title }}</a>
	</h2>
	<div class="post_ct {% if published == false %}op5{% endif %}">
		<div class="post_ct_desc ta_j mg_v10">
            {{ substrSpace(post.introduction, 275) }}
		</div>
	</div>
	{#
	{% set category = getCategoryByPost(post) %}
	{% if category %}
	 <div class="tag_info"><a href="{{ path('com_blog_category_view', {'slug': category.slug}) }}" rel="category tag">{{ category.defaultName }}</a></div>
	{% endif %}
	#}

	<div class="meta_info">
        {% if post.showAuthor %}
            {% set avatar = userAvatar(post.user) %}
            {% set userInfo = getLinkUserInfo(post.user, post.user.name) %}
			<div class="author_info"><img src="{{ avatar | imagine_filter('20x20') }}" /> <span class="user_info">{{ userInfo | raw }}</span></div>
        {% endif %}
        {# extension #}
        {% set comments =  getValidComments(post) %}
		<div class="conmment_info"><i class="fas fa-comment-dots"></i> <strong>{{ comments | length }}</strong></div>
		<div class="both"></div>

		<div class="date_info"><i class="fas fa-calendar-alt"></i> <strong>{{ getDateLabel(post.date, true) }}</strong></div>
		<div class="post_action">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				{% if post.user.id == app.user.id %}
					<a class="standar_button" href="{{ path('blog_manager_edit_post', {'post_id': post.id}) }}">Editer</a>
            	{% endif %}
            {% endif %}

			<a class="standar_button" href="{{ path('blog_post_view', {'slug': post.slug}) }}">Lire la suite</a>
		</div>
		<div class="both"></div>
	</div>
	<div class="mg_v10"></div>
	<!--<div class="sp mg_v5"></div>-->
</div>