{% extends "front.html.twig" %}

{% block title %}
  A propos
{% endblock %}


{% block body %}
	<div class="cr">
		<div class="ct">
			<div class="mg_10">
				<div class="label_title">
					<strong>A propos du {{ dns }}</strong>
				</div>
				{#
				<div class="about_block toleft">
					<div class="illustration">
						<img src="{{ asset('image/icon_gl.png') }}" alt="PM"/>
					</div>
					<div class="text">
						Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii,Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina, non maturitate vel consiliis mitigabat considerans incitationem eius ad multorum augeri discrimina, non maturitate vel consiliis mitigabat, ut aliquotiens celsae potestates iras principum molliverunt, sed adversando iurgandoque cum parum congrueret, eum ad rabiem potius evibrabat, Augustum actus eius exaggerando creberrime docens, idque, incertum qua mente, ne lateret adfectans. 
					</div>
				</div>
				<div class="both"></div>
				<div class="about_block toright">
					<div class="illustration">
						<img src="{{ asset('image/icon_user_gl.png') }}" alt="UR"/>
					</div>
					<div class="text">
						Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo dedecore temptasse aliquando dicitur Gallienus, et adhibitis paucis clam ferro succinctis vesperi per tabernas palabatur et conpita quaeritando Graeco sermone, Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina, non maturitate vel consiliis mitigabatcuius erat inpendio gnarus, quid de Caesare quisque sentiret. et haec confidenter agebat in urbe ubi pernoctantium luminum claritudo dierum solet imitari fulgorem. postremo agnitus saepe iamque, si prodisset
					</div>
				</div>
				<div class="both"></div>
				<div class="about_block toleft">
					<div class="illustration">
						<img src="{{ asset('image/logo_sl.png') }}" alt="SL"/>
					</div>
					<div class="text">
						Quid? qui se etiam nunc subsidiis patrimonii aut amicorum liberalitate sustentant, hos perire patiemur? An, si qui frui publico non potuit per hostem, hic tegitur ipsa lege censoria; quem is frui non sinit, qui est, etiamsi non appellatur, hostis, huic ferri auxilium non oportet? Retinete igitur in provincia diutius eum, qui de sociis cum hostibus, de civibus cum sociis faciat pactiones, Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina, non maturitate vel consiliis mitigabatqui hoc etiam se pluris esse quam collegam putet,
					</div>
				</div>
				<div class="both"></div>
				<div class="about_block toright">
					<div class="illustration">
						<img src="{{ asset('image/icon_user_gl.png') }}" alt="UR"/>
					</div>
					<div class="text">
						iurgandoque cum parum congrueret, eum ad rabiem potius evibrabat, Augustum actus eius exaggerando creberrime docens, idque, incertum qua mente, ne lateret adfectans. quibus mox Caesar acrius efferatus, Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina, non maturitate vel consiliis mitigabatvelut contumaciae quoddam vexillum altius erigens, sine respectu salutis alienae vel suae ad vertenda opposita instar rapidi fluminis irrevocabili impetu ferebatur.
					</div>
				</div>
				<div class="both"></div>
				#}

				
				<div class="ta_c mg_v10">
					<p>
						Vous êtes étudiants ou non, vous cherchez un établissement à intégrer, ou vous voulez tout simplement savoir les dernières actualités sur les établissements exisants?
						Alors vous êtes tombés juste sur le bon site.
					</p>
					<p>
						La recherche d'un meilleur établissement qui correspond à ses désirs est l'une des préoccupations principales d'une personne qui souhaite avoir une condition de vie meilleure.  
						{{ dns }} est un site d'annuaire, d'informations et de partages pour la mise en valeur des écoles, centres de formation, établissements, instituts publics et privés de Madagascar. 
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
