{% extends 'front.html.twig' %}

{% block title %}oio - Ndeha hianatra izahay{% endblock %}

{% block metadescription %}{#
	#}Site d'annuaire, d'informations et de partages pour la mise en valeur des écoles, centres de formation, établissements, instituts publics et privés de Madagascar{#
#}{% endblock %}

{% block body %}
<script>{#
    #}var events = [ {#
        #}{% for event in events %} 
        {% set illustration = eventIllustration(event) %}
        {#
            #} { {#					
                #}id : {{ event.id }},{#
                #}title : '{{ event.title }}',{#
                #}url : '{{ path('event_view', {'slug': event.slug}) }}',{#
                #}illustration : '{{ absolute_url( illustration | imagine_filter('1200x500') ) }}',{#
                #}diff : {{ event.diffDateNow }}{#
                #}}, {#
        #} {% endfor %}  
     ];

</script>

<div class="cr">
    <div class="ct">
        <div class="mg_v10 mg_h5 home_info">
            <div class="home_sl_info">
                <div class="home_item_ct">
                    <div class="mg_10">
                        <div class="illustration">
                            <a class="link" href="{{ path('school_home') }}"><img src="{{ asset('image/logo_sl.png')  }}" alt="SL"/></a>
                        </div>
                        <div class="label">
                            <div>
                                <a class="link" href="{{ path('school_home') }}">{{ allSchools | length }} établissements</a> repartis sur <a href="{{ path('school_categories') }}">{{ allCategories | length }} catégories</a>
                            </div>
                            <div>
                                {{ evaluatedSchools | length }} établissements évalués - {{ allEvaluations | length }} évaluations
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--
            --><div class="home_pm_info">
                <div class="home_item_ct">
                    <div class="mg_10">
                        <div class="illustration">
                            <a class="link" href="{{ path('blog') }}"><img src="{{ asset('image/icon_gl.png')  }}" /></a>
                        </div>
                        <div class="label">
                            <div>
                                {% set posts = getValidPosts() %}
                                {% set events = getValidEvents() %}
                                <a href="{{ path('blog') }}">{{ posts | length }} articles</a>, 
                                <a href="{{ path('event') }}">{{ events | length }} évènements</a> 
                                    déjà publiés.
                            </div>
                            <div>
                                Et beaucoup d'autres à publier dans le futur.
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--
            --><div class="home_fm_info">
                <div class="home_item_ct">
                    <div class="mg_10">
                        <div class="illustration">
                            <img src="{{ asset('image/icon_user_gl.png')  }}" />
                        </div>
                        <div class="label">
                            <div>
                                {% set users = getActiveUsers() %}
                                {% if users | length >= 100 %} {{ users | length }} {% else %}Des{% endif %} utilisateurs toujours prêts à partager leur expériences -
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <a href="{{ path('user_profile', {'username': app.user.username}) }}">Mon espace client</a>
                                {% else %}
                                    <a href="{{ path("user_login") }}">Mon espace client</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="both"></div>
        </div>
    </div>
</div>



{# twig extension #}
{% set school = getSchoolOfTheDay() %}
{% if school %}
    <div class="cr">
        <div class="ct">
            <div id="sl_oftheday_title">
                <span>L'établissement du jour</span>
            </div>
            <div id="sl_oftheday_desc">
                {{ school.shortDescription }}
            </div>
            <div id="sl_oftheday_wrap">
                {{ include("school/include/school_of_the_day.html.twig") }}
            </div>
        </div>
    </div>
{% endif %}



{#last added schools#}
{# twig extension #}
{% set lastAddedSchools = getLastAddedSchools(5) %}
{% if lastAddedSchools %}
    <div class="cr">
        <div class="ct">
            <div class="label_title mg_10">
                <strong>Nouveaux établissements sur la plateforme.</strong>
            </div>
            <div class="sl_listh_cr tacenter ">
                <div class="gdl"></div>
                <div class="gdr"></div>
                <div class="sl_listh_ct horizontal dragscroll">{#
                    #}{% for school in lastAddedSchools %}{#
                        #}{{ include("school/school_item.html.twig") }}{#
                    #}{% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}


<div class="cr">
    <div class="ct">
        <div class="tajustify mg_10">
            « L'éducation ne se borne pas à l'enfance et à l'adolescence. 
            L'enseignement ne se limite pas à l'école. Toute la vie, notre milieu est notre éducation, 
            et un éducateur à la fois sévère et dangereux. » 
            <span>Paul Valéry.</span> Artiste, écrivain, Philosophe, Poète (1871 - 1945)
        </div>
    </div>
</div>

<div class="cr">
    <div class="ct">
        <div class="mg_v10">
            <div class="sl_list_cat">
                {% for category in categories %}
                    {{ include("school/include/school_category_item.html.twig") }}
                {% endfor %}
                <div class="both"></div>
                <div class="tacenter mg_v10">
                    <a href="{{ path('school_categories') }}" class="standar_button">Afficher toute les catégories</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}