{% extends 'front.html.twig' %}

{% block title %}oio - Ndeha hianatra izahay{% endblock %}

{% block metadescription %}{#
	#}oio : site d'annuaire, d'informations et de partages pour la mise en valeur des écoles, centres de formation, établissements, instituts publics et privés de Madagascar{#
#}{% endblock %}

{% block body %}
<script>{#
    #}var events = [{#
        #}{% for event in events %}{#
        #}{% set illustration = eventIllustration(event) %}{#
        {#
            #} { {#					
                #}id : {{ event.id }},{#
                #}title : '{{ event.title }}',{#
                #}url : '{{ path('event_view', {'slug': event.slug}) }}',{#
                #}illustration : '{{ absolute_url( illustration | imagine_filter('1200x500') ) }}',{#
                #}diff : {{ event.diffDateNow }}{#
                #}}, {#
        #} {% endfor %} {#
        #}];{#
#}</script>

<div class="cr">
    <div class="ct">
        <div class="mg_v10 mg_h5 home_info">
            <div class="home_sl_info">
                <div class="home_item_ct">
                    <div class="mg_10">
                        <div class="illustration">
                            <a href="{{ path('school_home') }}">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"  width="40px" height="40px" viewBox="0 0 246.64 226.09"><defs><style>.cls-1{opacity:0.98;}</style></defs><title>logo_sl</title><path d="M96.79,443.94c0-3.58-8.74-6.39-8.74-6.39V382.28c10-.77,8.68-7.15,8.68-7.15V364.25H52.87v10.88s-1.27,6.38,8.68,7.15v55.27s-8.78,2.81-8.73,6.39v11.49h44Z" transform="translate(-25.3 -284.23)"/><path d="M171,443.94c.06-3.58-8.73-6.39-8.73-6.39V382.28c10-.77,8.68-7.15,8.68-7.15V364.25H127.07v10.88s-1.28,6.38,8.68,7.15v55.27s-8.79,2.81-8.73,6.39v11.49h44Z" transform="translate(-25.3 -284.23)"/><path d="M244.52,443.94c0-3.58-8.74-6.39-8.74-6.39V382.28c10-.77,8.68-7.15,8.68-7.15V364.25H200.6v10.88s-1.28,6.38,8.68,7.15v55.27s-8.79,2.81-8.73,6.39v11.49h44Z" transform="translate(-25.3 -284.23)"/><rect x="17.36" y="181.79" width="211.15" height="16.85" rx="5.87"/><rect y="209.23" width="246.64" height="16.85" rx="5.87"/><path class="cls-1" d="M258.57,335.72c-2.72-1.36-105.19-50.38-105.19-50.38a9.2,9.2,0,0,0-8.76,0s-102.47,49-105.19,50.38S34,337.43,34,345.94s5.11,8.51,5.11,8.51H258.91s5.11,0,5.11-8.51S261.3,337.09,258.57,335.72Zm-109.95,3.41a16.6,16.6,0,1,1,16.59-16.6A16.6,16.6,0,0,1,148.62,339.13Z" transform="translate(-25.3 -284.23)"/></svg>
                                {#<img src="{{ asset('image/logo_sl.png')  }}" alt="SL"/>#}
                            </a>
                        </div>
                        <div class="label">
                            <div>
                                <a href="{{ path('school_home') }}">{{ allSchools | length }} établissements</a> repartis sur <a href="{{ path('school_categories') }}">{{ allCategories | length }} catégories</a>
                            </div>
                            <div>
                                {{ evaluatedSchools | length }} établissements évalués - {{ allEvaluations | length }} évaluations
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--
            --><div class="home_pm_info">
                <div class="home_item_ct">
                    <div class="mg_10">
                        <div class="illustration">
                            <a href="{{ path('blog') }}">
                                <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg"  width="35px" height="40px" viewBox="0 0 223.8 223.79"><title>edit_svg</title><path d="M293.68,445.6H132.32V284.24h70.13l30.3-30.3H121.42a19.46,19.46,0,0,0-19.4,19.4V456.49a19.46,19.46,0,0,0,19.4,19.41H304.57A19.46,19.46,0,0,0,324,456.49V345.17l-30.3,30.3Z" transform="translate(-102.02 -252.1)"/><path d="M310.69,307.43l13-13-.07-.06c5.12-6.69,1.11-20-9.47-30.6s-23.91-14.6-30.6-9.47l-.06-.07-13.21,13.21C280.29,273.51,298.18,286.44,310.69,307.43Z" transform="translate(-102.02 -252.1)"/><path d="M209.58,408.53,298.09,320c-6.21-11-19.27-29.88-40-40.4l-88.94,88.94C179.19,374.61,197.07,387.54,209.58,408.53Z" transform="translate(-102.02 -252.1)"/><path d="M157,380.72l-5,5,.18,40.62,40-.42,4.76-4.76C190.78,410.14,177.72,391.24,157,380.72Z" transform="translate(-102.02 -252.1)"/></svg>
                                {#<img src="{{ asset('image/icon_gl.png')  }}" />#}
                            </a>
                        </div>
                        <div class="label">
                            <div>
                                {% set posts = getValidPosts() %}
                                {% set events = getValidEvents() %}
                                <a href="{{ path('blog') }}">{{ posts | length }} articles</a>, 
                                <a href="{{ path('event') }}">{{ events | length }} évènements</a> 
                                    déjà publiés.
                            </div>
                            <div>
                                Et beaucoup d'autres à publier dans le futur.
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--
            --><div class="home_fm_info">
                <div class="home_item_ct">
                    <div class="mg_10">
                        <div class="illustration">
                                <svg id="Layer_3" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg"  width="42px" height="42px" viewBox="0 0 200 200"><defs><style>.cls-2{fill:#fff;}</style></defs><title>user_icon</title><circle cx="100" cy="100" r="100"/><path class="cls-2" d="M187.86,411.21l-1-.47Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M202.29,416.61l-1.2-.36Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M200,415.92c-.4-.12-.8-.25-1.19-.39C199.2,415.67,199.6,415.8,200,415.92Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M197.73,415.18c-.4-.13-.79-.28-1.19-.42C196.94,414.9,197.33,415.05,197.73,415.18Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M190.05,412.2l-1.07-.47Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M195.49,414.39l-1.19-.45Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M193.27,413.54q-1.08-.42-2.13-.87Q192.19,413.12,193.27,413.54Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M219,419.9l-1.35-.16Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M214.1,419.24l-1.3-.21Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M216.52,419.6l-1.31-.19Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M185.72,410.18l-1-.48Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M211.69,418.83l-1.27-.25Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M204.6,417.25l-1.21-.33Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M206.94,417.83l-1.23-.3Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M209.3,418.35c-.41-.08-.83-.17-1.24-.27C208.47,418.18,208.89,418.27,209.3,418.35Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M175.54,404.38l-.86-.57Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M168,398.94l-.74-.59Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M230,420.5c-.84,0-1.67,0-2.51,0C228.33,420.49,229.16,420.5,230,420.5Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M230,420.5c.84,0,1.67,0,2.51,0C231.67,420.49,230.84,420.5,230,420.5Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M163.84,395.48l.55.49Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M230,410.62a89.83,89.83,0,0,0,63.86-26.54,69.41,69.41,0,0,0-127.72,0A89.83,89.83,0,0,0,230,410.62Z" transform="translate(-130 -220.5)"/><polygon class="cls-2" points="32.65 173.92 32.65 173.92 32.66 173.92 32.65 173.92"/><path class="cls-2" d="M165.48,396.9l.69.58Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M173.6,403.09l-.84-.58Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M179.52,406.84l-.91-.54Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M177.52,405.63l-.89-.55Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M181.56,408l-.93-.52Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M183.62,409.11l-1-.5Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M171.69,401.75l-.81-.59Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M169.82,400.37l-.78-.6Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M221.47,420.14l-1.4-.13Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M248.31,418.83l1.27-.25Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M250.7,418.35c.41-.08.83-.17,1.24-.27C251.53,418.18,251.11,418.27,250.7,418.35Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M243.48,419.6l1.31-.19Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M253.06,417.83l1.23-.3Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M245.9,419.24l1.3-.21Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M255.4,417.25l1.21-.33Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M260,415.92c.4-.12.8-.25,1.19-.39C260.8,415.67,260.4,415.8,260,415.92Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M262.27,415.18c.4-.13.79-.28,1.19-.42C263.06,414.9,262.67,415.05,262.27,415.18Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M257.71,416.61l1.2-.36Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M294.52,396.9l-.69.58Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M296.16,395.48l-.55.49Z" transform="translate(-130 -220.5)"/><polygon class="cls-2" points="167.34 173.92 167.35 173.92 167.35 173.92 167.34 173.92"/><path class="cls-2" d="M241,419.9l1.35-.16Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M238.53,420.14l1.4-.13Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M233.34,420.44l1.66-.06Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M236,420.32l1.48-.09Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M274.28,410.18l1-.48Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M286.4,403.09l.84-.58Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M284.46,404.38l.86-.57Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M264.51,414.39l1.19-.45Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M282.48,405.63l.89-.55Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M226.66,420.44l-1.66-.06Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M292,398.94l.74-.59Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M290.18,400.37l.78-.6Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M288.31,401.75l.81-.59Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M270,412.2l1.07-.47Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M272.14,411.21l1-.47Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M266.73,413.54q1.08-.42,2.13-.87Q267.81,413.12,266.73,413.54Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M278.44,408l.93-.52Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M280.48,406.84l.91-.54Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M276.38,409.11l.95-.5Z" transform="translate(-130 -220.5)"/><path class="cls-2" d="M224,420.32l-1.48-.09Z" transform="translate(-130 -220.5)"/><circle class="cls-2" cx="100" cy="75.39" r="35.74"/></svg>
                            {#<img src="{{ asset('image/icon_user_gl.png')  }}" />#}
                        </div>
                        <div class="label">
                            <div>
                                {% set users = getActiveUsers() %}
                                {% if users | length >= 100 %} {{ users | length }} {% else %}Des{% endif %} utilisateurs toujours prêts à partager leur expériences -
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <a href="{{ path('user_profile', {'username': app.user.username}) }}">Mon espace client</a>
                                {% else %}
                                    <a href="{{ path("user_login") }}">Mon espace client</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="both"></div>
        </div>
    </div>
</div>

{# twig extension #}
{% set school = getSchoolOfTheDay() %}
{% if school %}
    <div class="cr">
        <div class="ct">
            <div id="sl_oftheday_title">
                <span>L'établissement du jour</span>
            </div>
            <div id="sl_oftheday_desc">
                {{ school.shortDescription }}
            </div>
            <div id="sl_oftheday_wrap">
                {{ include("school/include/school_of_the_day.html.twig") }}
            </div>
        </div>
    </div>
{% endif %}

{#last added schools#}
{# twig extension #}
{% set lastAddedSchools = getLastAddedSchools(5) %}
{% if lastAddedSchools %}
    <div class="cr">
        <div class="ct">
            <div class="label_title mg_10">
                <strong>Nouveaux établissements sur la plateforme.</strong>
            </div>
            <div class="sl_listh_cr ta_c ">
                <div class="gdl"></div>
                <div class="gdr"></div>
                <div class="sl_listh_ct horizontal dragscroll">{#
                    #}{% for school in lastAddedSchools %}{#
                        #}{{ include("school/school_item.html.twig") }}{#
                    #}{% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="cr">
    <div class="ct">
        <div class="ta_j mg_10">
            « L'éducation ne se borne pas à l'enfance et à l'adolescence. 
            L'enseignement ne se limite pas à l'école. Toute la vie, notre milieu est notre éducation, 
            et un éducateur à la fois sévère et dangereux. » 
            <span>Paul Valéry.</span> Artiste, écrivain, Philosophe, Poète (1871 - 1945)
        </div>
    </div>
</div>

<div class="cr">
    <div class="ct">
        <div class="mg_v10">
            <div class="sl_list_cat">
                {% for category in categories %}
                    {{ include("school/include/school_category_item.html.twig") }}
                {% endfor %}
                <div class="both"></div>
                <div class="ta_c mg_v10">
                    <a href="{{ path('school_categories') }}" class="standar_button">Afficher toute les catégories</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}