<div id="navigation" class="cr">
    <div id="navigation_content" class="ct">
        <div class="ct10">
            <div id="nav_left">
                <ul>
                    <li>
                        <a href="{{ path('platform_home') }}" title="{{ dns }}">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 70 70" style="transform: rotate(-45deg);" xml:space="preserve">
                                <g>
                                    <polygon points="0,0 30,0 30,10 10,10 10,40 0,40"/>
                                    <polygon points="0,50 10,50 10,60 20,60 20,70 0,70"/>
                                    <polygon points="30,60 60,60 60,40 70,40 70,70 30,70"/>
                                    <polygon points="20,20 30,20 30,40 50,40 50,50 20,50 "/>
                                    <polygon points="40,0 70,0 70,30 40,30 40,10 50,10 50,20 60,20 60,10 40,10"/>
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <div class="dd nav_responsive">
                            <span class="dds c_p">
                                <img src="{{ asset('image/sl_logo_nav.png')  }}" alt="SL"/>
                            </span>
                            <div class="ddt" data-display="block">
                                <div class="link_wrap">
                                    <a class="link" href="{{ path('school_home') }}" title="Tous établissements">
                                        <span>Tout Etablissements</span>
                                    </a>
                                    <a class="link" href="{{ path('school_home', {'typeslug':'private'}) }}" title="Etablissements privés">
                                        <span>Etablissements privés</span>
                                    </a>
                                    <a class="link" href="{{ path('school_home', {'typeslug':'public'}) }}" title="Etablissements publics">
                                        <span>Etablissements publics</span>
                                    </a>
                                    <a class="link" href="{{ path('school_of_the_day') }}" title="Etablissement du jour">
                                        <span>Etablissement du jour</span>
                                    </a>
                                    <a class="link" href="{{ path('school_categories') }}" title="Les catégories d'établissements">
                                        <span>Catégories</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dd nav_responsive">
                            <span class="dds toggler_src c_p">
                                <span class="normal bar1"></span>
                                <span class="transparent"></span>
                                <span class="normal bar2"></span>
                                <span class="transparent"></span>
                                <span class="normal bar3"></span>
                            </span>
                            <div class="ddt toggler_target" data-display="block">
                                <div class="link_wrap">
                                    <a class="link" href="{{ path('event') }}">
                                        <span>Evenements</span>
                                    </a>
                                    <a class="link" href="{{ path('blog') }}">
                                        <span>Blog</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="nav_not_responsive">
                    <li class="dd">
                        <a href="{{ path('school_home') }}" class="dds">
                            <span class="va_m d_ib">Etablissements</span>
                        </a>
                        <div class="ddt menu_sl" data-display="block">
                            <div class="link_wrap">
                                <a class="link" href="{{ path('school_home') }}" title="Tous établissements">
                                    <span>Tout Etablissements</span>
                                </a>
                                <a class="link" href="{{ path('school_home', {'typeslug':'private'}) }}" title="Etablissements privés">
                                    <span>Etablissements privés</span>
                                </a>
                                <a class="link" href="{{ path('school_home', {'typeslug':'public'}) }}" title="Etablissements publics">
                                    <span>Etablissements publics</span>
                                </a>
                                <a class="link" href="{{ path('school_of_the_day') }}" title="Etablissement du jour">
                                    <span>Etablissement du jour</span>
                                </a>
                                <a class="link" href="{{ path('school_categories') }}" title="Les catégories d'établissements">
                                    <span>Catégories</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="{{ path('event') }}">
                            <span class="d_ib va_m">Evènements</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('blog') }}">
                            <span class="d_ib va_m">Blog</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="nav_right">
                <div id="user">
                    <div class="dd">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% set avatar = userAvatar(app.user) %}
                            <div class="dds">
								<span class="connected">
									<table>
										<tr>
											<td class="user_avatar">
												<span class="wrap">
													<img id="avatar_banner" src="{{ avatar | imagine_filter('32x32') }}" alt="{{ app.user.username }}" />
												</span>
											</td>
											<td class="user_name" title="{{ app.user.name }}">
												<span class="wrap">
													<span id="nav_src_ur_name">{{ app.user.name }}</span>
												</span>
											</td>
										</tr>
									</table>
								</span>
                            </div>
                        {% else %}
                            <div class="dds">
                                <span class="not_connected">
                                    <img class="illustration" src="{{ asset('image/icon_user_not.png') }}" alt="UR"/>
                                    <span class="text">Mon espace membre</span>
                                </span>
                            </div>
                        {% endif %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% set avatar = userAvatar(app.user) %}
                            <div class="ddt connected" data-display="block">
                                <div id="user_info_header">
                                    <div class="avatar_wrap">
                                        <img id="avatar_banner_target" class="c_p" src="{{ avatar | imagine_filter('50x50') }}" alt="{{ app.user.username }}" data-target="{{ path('user_modify_avatar_popup')}}" />
                                    </div>
                                    <div class="info_wrap">
                                        <a class="link" id="ur_profil_link" href="{{ path('user_profile', {'username': app.user.username}) }}">
                                            <strong id="nav_target_ur_name">{{ app.user.name }}</strong><br />
                                            <i class="fas fa-user-circle"></i> <span id="nav_target_ur_username">{{ app.user.username }}</span><br />
                                            <span id="nav_target_ur_email">{{ app.user.email }}</span>
                                        </a>
                                    </div>
                                    <div class="both"></div>
                                </div>
                                <div class="link_wrap">
                                    <a class="link" id="ur_setting_link" href="{{ path('user_profile', {'username': app.user.username, 'type': 'setting'}) }}">
                                        <span>Paramètres</span>
                                    </a>
                                </div>

                                <div class="link_wrap">
                                    <a class="link" id="ur_setting_link" href="{{ path('user_profile', {'username': app.user.username, 'type': 'contribution'}) }}">
                                        <span>Contributions</span>
                                    </a>
                                </div>
                                <div class="link_wrap">
                                    <div class="pd_10">
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="link standar_button pd_5 btn_admin" target="_blank" href="{{ path('admin_home') }}">
                                                <span><i class="fas fa-tachometer-alt"></i> Tableau de bord</span>
                                            </a>
                                        {% endif %}

                                        <a class="link standar_button pd_5 mg_r0 btn_loggout" href="{{ path('user_logout') }}">
                                            <span><i class="fas fa-sign-out-alt"></i> Déconnexion</span>
                                        </a>
                                        <span class="both"></span>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="ddt not_connected" data-display="block">
                                <ul>
                                    <li class="log_item">
                                        <a class="link" href="{{ path("user_login") }}">
                                            <span> Se connecter </span>
                                        </a>
                                    </li>
                                    <li class="log_item">
                                        <a class="link" href="{{ path('user_register') }}">
                                            <span> S'inscrire </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="both"></div>
            </div>

        </div>
    </div>
</div>