{% extends "front.html.twig" %}

{% block title %}
  Resultat de recherche
{% endblock %}


{% block body %}
	<div class="cr">
		<div class="ct">
			<div class="search_title mg_h10">
				{% if entity == 'school' %}
					Recherche sur notre liste d'<span style="font-weight:bold">établissements</span>
					{#Critère de recherche <span style="font-weight:bold">{{ q }}</span>.#}
				{% endif %}
				{% if entity == 'post' %}
					Recherche sur notre liste d'<span style="font-weight:bold">articles</span>
					{#Critère de recherche <span style="font-weight:bold">{{ q }}</span>.#}
				{% endif %}
			</div>
		</div>
	</div>
	
	{% if entity == 'school' %}
		<div class="cr">
			<div class="ct">
				<div id="sl_list">
					<div class="sll">
						{% if resultList | length > 0 %}
							<div id="sll_load_list" style="display:none;">chargement ...</div>
							<div class="sll_pagination">
                                {{ include("school/include/pagination_list_school_search.html.twig") }}
							</div>
							<div class="sll_ct" style="">
								{% for school in resultList %}
									{{ include("school/school_item.html.twig") }}
								{% endfor %}
								<div class="both"></div>
							</div>
							<div class="sll_pagination">
								{{ include("school/include/pagination_list_school_search.html.twig") }}
							</div>
						{% else %}
							<div class="mg_10 tacenter">
								<strong>Aucun établissement trouvé</strong>
							</div>
						{% endif %}
					</div>
					<div class="slr" style="">
						<div id="sl_oftheday_right">
                            {# twig extension #}

                            {#{% set school = getSchoolById(1) %}#}
                            {% set school = getSchoolOfTheDay() %}
                            {% if school %}
								<div class="title">
									<span>L'établissement du jour</span>
								</div>
								<div class="not_resp">
									<div style="">
                                        {{ include("school/school_item.html.twig") }}
									</div>
									<div class="sl_desc" style="text-align:justify">
                                        {#{{ substrSpace(schoolTranslate.shortDescription, 165) }}#}
                                        {{ school.shortDescription }}
									</div>
								</div>

								<div class="resp">
									<div class="sl_oftheday">
										<div id="sl_oftheday_wrap">
                                            {{ include("school/include/school_of_the_day.html.twig") }}
										</div>
									</div>
								</div>
                            {% endif %}
						</div>
					</div>
					<div class="both"></div>
				</div>
			</div>
		</div>
	{% elseif entity == 'post' %}
		<div class="cr mg_v10">
			<div class="ct">
				<div>
					<div id="list_post">
						{% if resultList | length > 0 %}
							{% for post in resultList %}
								{{ include("blog/include/post_item.html.twig") }}
							{% endfor %}
						{% else %}
							<div class="mg_10 tacenter">
								<strong>Aucun article trouvé</strong>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% elseif entity == 'advert' %}
		{#
		<div class="cr">
			<div class="ct">
				<div class="mg_h10">
					{% for advert in resultList %}
						<div style="border: 1px solid #eee; margin:10px 0;padding:5px">
							<div>
								<span><a style="font-weight:bold;color:#666" href="{{ path('com_advert_view', {'slug': advert.slug}) }}">{{ advert.defaultTitle }}</a></span>
							</div>
							<div>
								{% set advertTranslate = getAdvertTranslate(advert, locale) %}
								{% set advertTranslate = getAdvertTranslate(advert, locale) %}
								{{ substrSpace(advertTranslate.content | raw| striptags | convert_encoding('UTF-8', 'HTML-ENTITIES'), 500) }}
							</div>
							<div>
								{# twig extension
								{% set userInfo = getLinkUserInfo(advert.user, advert.user.name) %}
								By {{ userInfo | raw }}
								  on {{ advert.date | date('Y-m-d H:i:s') }}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		#}
	{% endif %}
{% endblock %}
