{% extends "front.html.twig" %}

{% block title %}
  Resultat de recherche
{% endblock %}


{% block body %}
	<div class="cr">
		<div class="ct">
			<div class="search_title mg_h10">
				{% if entity == 'school' %}
					Recherche sur notre liste d'<span style="font-weight:bold">établissements</span>
					{#Critère de recherche <span style="font-weight:bold">{{ q }}</span>.#}
				{% endif %}
				{% if entity == 'post' %}
					Recherche sur notre liste d'<span style="font-weight:bold">articles</span>
				{% endif %}
				{% if entity == 'event' %}
					Recherche sur notre liste d'<span style="font-weight:bold">évènements</span>
				{% endif %}
			</div>
		</div>
	</div>
	
	{% if entity == 'school' %}
		<div class="cr">
			<div class="ct">
				<div>
					<div id="sl_list_search" class="sll p_cr" data-type="school">
						<div></div>
						{% if resultList | length > 0 %}
							<div class="p_load d_n">chargement ...</div>
							<div class="pagination p_stop">
                                {{ include("school/include/pagination_list_school_search.html.twig") }}
							</div>
							<div class="sll_ct p_list">
								{% for school in resultList %}
									{{ include("school/school_item.html.twig") }}
								{% endfor %}
								<div class="both"></div>
							</div>
							<div class="pagination">
								{{ include("school/include/pagination_list_school_search.html.twig") }}
							</div>
						{% else %}
							<div class="mg_10 ta_c">
								<strong>Aucun établissement trouvé</strong>
							</div>
						{% endif %}
					</div>

					<div class="slr">
						<div id="sl_oftheday_right">
                            {# twig extension #}

                            {#{% set school = getSchoolById(1) %}#}
                            {% set school = getSchoolOfTheDay() %}
                            {% if school %}
								<div class="title">
									<span>L'établissement du jour</span>
								</div>
								<div class="not_resp">
                                	{{ include("school/school_item.html.twig") }}
								</div>

								<div class="resp">
									<div class="sl_oftheday">
										<div id="sl_oftheday_wrap">
                                            {{ include("school/include/school_of_the_day.html.twig") }}
										</div>
									</div>
								</div>
                            {% endif %}
						</div>
					</div>
					<div class="both"></div>
				</div>
			</div>
		</div>
	{% elseif entity == 'post' %}
		<div class="cr mg_v10">
			<div class="ct">
				<div>
					<div id="post_list_search" class="p_cr" data-type="post_search">
						{% if resultList | length > 0 %}
							<div class="p_load d_n">chargement ...</div>
							<div class="pagination p_stop">
								{{ include("blog/include/pagination_list_post_search.html.twig") }}
							</div>
							<div id="list_post" class="p_list">
								{% for post in resultList %}
									{{ include("blog/include/post_item.html.twig") }}
								{% endfor %}
								<div class="both"></div>
							</div>
							<div class="pagination">
								{{ include("blog/include/pagination_list_post_search.html.twig") }}
							</div>
						{% else %}
							<div class="mg_10 ta_c">
								<strong>Aucun article trouvé</strong>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% elseif entity == 'event' %}
		<div class="cr mg_v10">
			<div class="ct">
				<div>
					<div id="event_list_search" class="p_cr" data-type="event_search">
						{% if resultList | length > 0 %}
							<div class="p_load d_n">chargement ...</div>
							<div class="pagination p_stop">
								{{ include("event/include/pagination_list_events_search.html.twig") }}
							</div>
							<div id="et_list" class="p_list">
								{% for event in resultList %}
									{{ include("event/include/event_item.html.twig") }}
								{% endfor %}
								<div class="both"></div>
							</div>
							<div class="pagination">
								{{ include("event/include/pagination_list_events_search.html.twig") }}
							</div>
						{% else %}
							<div class="mg_10 ta_c">
								<strong>Aucun Evènement trouvé</strong>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
