<span class="dd_target dd_tdfault">
	<a class="link dd_item" target="_blank" href="{{ path('blog_post_viewbyid', {'id': post.id}) }}">
		<span class="icon"><img src="{{ asset('image/view_icon.png') }}" /></span><span class="label">Aperçu</span>
	</a>
	<a class="link dd_item" href="{{ path('admin_blog_post_tags', {'post_id': post.id}) }}">
		<span class="icon"><img src="{{ asset('image/list_icon.png') }}" /></span><span class="label">Tags</span>
	</a>
	<a class="link dd_item" href="{{ path('admin_blog_post_schools', {'post_id': post.id}) }}">
		<span class="icon"><img src="{{ asset('image/list_icon.png') }}" /></span><span class="label">Etablissements</span>
	</a>
	<a class="link dd_item" href="{{ path('admin_blog_post_comments', {'post_id': post.id}) }}">
		<span class="icon"><img src="{{ asset('image/list_icon.png') }}" /></span><span class="label">Commentaires</span>
	</a>
</span>