<div class="dialog">
	<div class="header">
		<div class="title">
			Edition de l'illustration de l'article
		</div>
		<div class="button_closable">
			<i class="fas fa-times-circle"></i>
		</div>
	</div>
	
	<div class="pd_5">
		{% set classDefault = '' %}
		{% if current is null %}
			{% set classDefault = 'active' %}
		{% endif %}
		<div class="images_wrapper images_popup_wrapper"><!--
			--><div class="image_item illustration_item {{ classDefault }}" id="default_illustration">
					<img class="image_popup illustration_popup default" data-type="logo" data-target="{{ path('blog_manager_post_select_illustration', {'post_id': post.id, 'illustration_id': 0}) }}" src="{{ 'default/images/post/illustration/default.jpeg' | imagine_filter('116x116') }}" alt="" />
				</div><!--
			{% for illustration in illustrations %}
				{% set classActive = '' %}
				{% if illustration.current %}
					{% set classActive = 'active' %}
				{% endif %}
				-->{{ include("blog/include/illustration_item.html.twig") }}<!--
			{% endfor %}
		--></div>
	</div>
	<div class="sp"></div>
	<div class="pd_10 tacenter">
		<label for="illustrationfile" class="c_p">télécharger une image ...</label>
		<input data-type="illustration" id="illustrationfile" name="file" class="d_n ajax_post_illustration" type="file" accept="image/*" data-target="{{ path('blog_manager_post_upload_illustration', {'post_id': post.id}) }}" />
	</div>
	<div class="sp"></div>
	<div class="pd_10 tacenter">
		<i class="fas fa-info-circle"></i> Cliquer sur l'image ou télécharger un nouveau pour changer l'illustration.
	</div>
</div>