{% extends "front.html.twig" %}

{% block title %}
  Blog
{% endblock %}


{% block body %}
	{{ include("blog/include/list_post_header.html.twig") }}
	<div class="cr">
		<div class="ct">
			<div id="bg_list">
				{% if posts | length > 0 %}
					<div id="list_post"><!--
						{% for post in posts %}
							-->{{ include("blog/include/post_item.html.twig") }}<!--
						{% endfor %}
					--></div>
					{% if previousPost %}
						<div id="bg_load_post_action" class="mg_b10">
							<div id="bg_load_post" data-target="{{ path('blog_load_posts', {'post_id': previousPost.id}) }}" data-previous-post="{{ previousPost.id }}" class="mg_h10">
								Afficher plus d'articles
							</div>
							<div class="btn_loading">
								<div class="mg_t5"></div>
								<img src="{{ asset('image/three-dots.svg')  }}"/>
							</div>
						</div>
					{% endif %}
					<div class="both"></div>
				{% else %}
					<div class="mg_v20 tacenter">
						<strong>Aucun article à afficher</strong>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
