<span class="ddt dd_tdfault">
	<a class="dd_item" href="{{ path('admin_school') }}">
		<span class="icon"><img src="{{ asset('image/sl_icon.png') }}" /></span><span class="label">Etablissements</span>
	</a>
	<a class="dd_item" href="{{ path('admin_school_add') }}">
		<span class="icon"><img src="{{ asset('image/add_icon.png') }}" /></span><span class="label">Nouvel établissement</span>
	</a>
	<a class="dd_item" href="{{ path('admin_school_category') }}">
		<span class="icon"><img src="{{ asset('image/list_icon.png') }}" /></span><span class="label">Catégories</span>
	</a>
	<a class="dd_item" href="{{ path('admin_school_sod') }}">
		<span class="icon"><img src="{{ asset('image/default_icon.png') }}" /></span><span class="label">Etablissement du jour</span>
	</a>
</span>