<div class="a_nav_item {% if view == 'job' %} open{% endif %}">
	<div class="a_nav_main_item">
		<div class="a_nav_main_item_icon"><div><img src="{{ asset('image/default_icon.png') }}" /></div></div>
		<div class="a_nav_main_item_text">Emplois</div>
	</div>
	<div class="a_nav_sub_content">
		<div class="a_nav_sub_item">
			<div class="a_nav_sub_item_icon"><div><img src="{{ asset('image/default_icon.png') }}" /></div></div>
			<div class="a_nav_sub_item_text">
				<a href="{{ path('admin_job') }}">
					<span>Emplois</span>
				</a>
			</div>
		</div>
		<div class="a_nav_sub_item">
			<div class="a_nav_sub_item_icon"><div><img src="{{ asset('image/list_icon.png') }}" /></div></div>
			<div class="a_nav_sub_item_text">
				<a href="{{ path('admin_job_creation') }}">
					<span>En cours de création</span>
				</a>
			</div>
		</div>
	</div>
</div>