{% extends "front.html.twig" %}

{% block title %}
  Etablissements
{% endblock %}

{% block body %}
	<div class="cr">
		<div class="ct">
			<div id="sl_list">
				<div class="sll">
					<div id="sll_load_list" style="display:none;">chargement ...</div>
						<div class="mg_10 mg_b20">
							<div class="sl_type">
								{{ include("school/include/school_type_link.html.twig") }}
							</div>
							<div class="sl_type_btm"></div>
						</div>

                    {% if schools | length > 0 %}
						<div class="sll_pagination">
							{{ include("school/include/pagination_list_school.html.twig") }}
						</div>
						<div class="sll_ct">
							{% for school in schools %}
								{{ include("school/school_item.html.twig") }}
							{% endfor %}
							<div class="both"></div>
						</div>
						<div class="sll_pagination">
							{{ include("school/include/pagination_list_school.html.twig") }}
						</div>
                    {% endif %}
				</div>
				<div class="slr">
					<div id="sl_oftheday_right">
                        {# twig extension #}

                        {#{% set school = getSchoolById(1) %}#}
                        {% set school = getSchoolOfTheDay() %}
                        {% if school %}
							<div class="title">
								<span>L'établissement du jour</span>
							</div>
							<div class="not_resp">
								<div>
									{{ include("school/school_item.html.twig") }}
								</div>
								{#
								<div class="sl_desc" style="text-align:justify">
									{{ school.shortDescription }}
								</div>
								#}
							</div>

							<div class="resp">
								<div class="sl_oftheday">
									<div id="sl_oftheday_wrap">
										{{ include("school/include/school_of_the_day.html.twig") }}
									</div>
								</div>
							</div>
                        {% endif %}
					</div>


					<div class="slr_list_cat">
						<div class="title">
							<span><a href="{{ path('school_categories') }}">Catégories</a></span>
						</div>

						{% for category in categories %}
							{{ include("school/include/school_category_item.html.twig") }}
						{% endfor %}
					</div>
				</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
{% endblock %}
