{% extends "front.html.twig" %}

{% block title %}
  Catégorie - {{ category.name }}
{% endblock %}

{% block body %}
	<div class="cr">
		<div class="ct">
			<div>
				<div id="sl_list_category" class="sll p_cr" data-type="school">
					<div class="p_load d_n" id="sll_load_list">chargement ...</div>
					<div class="category_title mg_h10 p_stop">
						<a href="{{ path('school_home') }}">Etablissements</a> 
						<i class="fas fa-angle-right va_m"></i> 
						<a href="{{ path('school_category_view', {'slug': category.slug}) }}">{{ category.name }}</a>
					</div>

					{% if category.description is not null or category.description != '' %}
						<div class="category_des mg_10">
							{{ category.description | raw }}
						</div>
					{% endif %}

					<div class="pagination">
                        {{ include("school/include/pagination_view_category.html.twig") }}
					</div>
					<div class="sll_ct p_list">
						{% for school in schools %}
							{{ include("school/school_item.html.twig") }}
						{% endfor %}
						<div class="both"></div>
					</div>
					<div class="pagination">
						{{ include("school/include/pagination_view_category.html.twig") }}
					</div>
				</div>

				<div class="slr">
					<div id="sl_oftheday_right">
                        {% set school = getSchoolOfTheDay() %}
                        {% if school %}
							<div class="title">
								<span>L'établissement du jour</span>
							</div>
							<div class="not_resp">
                                {{ include("school/school_item.html.twig") }}
							</div>

							<div class="resp">
								<div class="sl_oftheday">
									<div id="sl_oftheday_wrap">
                                        {{ include("school/include/school_of_the_day.html.twig") }}
									</div>
								</div>
							</div>
                        {% endif %}
					</div>
				</div>

				<div class="both"></div>
			</div>
		</div>
	</div>
{% endblock %}
