<p>
	Bonjour,<br />
	Quelqu'un vient de remplir le formulaire de la page contact, Vous retrouvez ci-dessous les détails de sa saisie.
</p>
<p>
	<div><strong>Nom</strong> : {{ contact.name }}</div>
	<div><strong>Email</strong> : {{ contact.email }}</div>
	<div><strong>Téléphone</strong> : {{ contact.phone }}</div>
	<div><strong>Message</strong> : {{ contact.message }}</div>
</p>
<p>
	Nb : Ce mail vient d'être envoyé à tout les administrateurs de {{ dns }}.
</p>
