<div style="float:left; width:80px">
	{% set avatar = userAvatar(user) %}
	<img style="width: 80px; height: 80px; border-radius: 50%" src="{{ avatar | imagine_filter('80x80') }}" alt="{{ getAcronym(user.name) }}" />
</div>
<div style="margin-left: 90px" class="taleft">
	<div style="margin-bottom:2px">
		<a style="font-weight:bold" class="link" href="{{ path('user_profile_byid', {'user_id': user.id}) }}">
			{{ user.name }}
		</a>
	</div>

	<div style="margin-bottom:2px">
		<span style="display:inline-block"><i class="fas fa-user-circle i_ur"></i> {{ user.username }}</span>
	</div>
	{#
	<div style="margin-bottom:2px">
		{% if user.sex == 1 %}
			Homme
		{% elseif user.sex == 2 %}
			Femme
		{% else %}
			Sexe indeterminé
		{% endif %}
	</div>
	#}
	{#
	<div>
		{{ user.email }}
	</div>
	#}
	{% if user.location and user.location | trim != "" %}
	<div>
		<span style="display:inline-block"><i class="fas fa-map-marker-alt i_ur"></i> {{ user.location }}</span>
	</div>
	{% endif %}
	<div>
		Inscrit Depuis {{ getDateLabel(user.date, true) }}
	</div>
</div>
<div class="both"></div>

{% if user.biography is not empty %}
	<div class="sep mg_v10"></div>
	<div class="tajustify">
		{{ substrSpace(user.biography, 300) }}
	</div>
{% endif %}




