<span data-userid="{{ user.id }}" data-name="{{ user.name }}" data-target="{{ path('user_info_popup', {'id': user.id}) }}" data-timeoutid="" class="user_hover_info">
	<a  style="font-weight:bold" class="link" href="{{ path('user_profile', {'username': user.username}) }}">
		{{ label | raw }}
	</a>
</span>