{% extends "front.html.twig" %}

{% block title %}
	{{ user.name }} - profil
{% endblock %}

{% block body %}
	<div id="ur_gl" class="cr">
		<div class="ct">
			<div style="margin:0 10px">
				<div style="float:left">
					{# twig extension #}
					{% set avatar = userAvatar(user) %}
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.id == user.id %}
						<div id="change_avatar" data-target="{{ path('user_modify_avatar_popup')}}">
							<div id="change_avatar_label">
								<span><strong>Modifier<br />votre avatar</strong></span>
							</div>
							<div id="avatar_wrapper">
								<img id="user_avatar" src="{{ avatar | imagine_filter('116x116') }}" alt="{{ user.name }}" />
							</div>
						</div>
					{% else %}
						<div id="avatar_wrapper">
							<img id="user_avatar" src="{{ avatar | imagine_filter('116x116') }}" alt="{{ user.name }}" />
						</div>
					{% endif %}
				</div>
				<div style="margin-left: 130px; min-height:70px; margin-top: 0px; padding:1px 0">
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.id == user.id %}
						<div class="bloc_editable" style="margin-bottom:1px">
							<div class="bloc_view">
								<div>
									<span id="ur_view_name" style="font-weight:bold">{{ user.name }}</span>
								</div>
								<div>
									<span><i class="fas fa-user-circle i_ur"></i> <span id="ur_view_username">{{ user.username }}</span></span>
									{% if user.location and user.location | trim != "" %}
										 {% set displayLocation = "inline" %}
									{% else %}
										 {% set displayLocation = "none" %}
									{% endif %}
									<span style="display: {{ displayLocation }}" id="ur_view_location_wrap i_ur"><i class="fas fa-map-marker-alt i_ur"></i> <span id="ur_view_location">{{ user.location }}</span></span>
								</div>
								<div>
									<span id="ur_view_email">{{ user.email }}</span>
								</div>
								<div>
									<span id="ur_view_last_activity">Dernière activité : {{ getDateLabel(user.lastActivity) }} à {{ user.lastActivity | date('H:i') }}</span>
								</div>
							</div>
							<div class="bloc_edit" style="display:none">
								<form action="" name="form_ur_common" method="post" id="form_ur_common">
									<div style="margin-bottom:2px">
										<div><label for="ur_input_name" class="required">Nom * : <span id="ur_input_name_error"></span></label></div>
										<div><input type="text" id="ur_input_name" class="default_input" value="{{ user.name }}" /></div>
									</div>
									<div style="margin-bottom:2px">
										<div><label for="ur_input_username" class="required">Nom d'utilisateur * : <span id="ur_input_username_error"></span></label></div>
										<div><input type="text" id="ur_input_username" class="default_input" value="{{ user.username }}" /></div>
									</div>
									<div style="margin-bottom:2px">
										<div><label for="ur_input_location">Localisation : <span id="ur_input_location_error"></span></label></div>
										<div><input type="text" id="ur_input_location" class="default_input" value="{{ user.location }}" /></div>
									</div>
									<div style="margin-bottom:2px">
										<div><label for="ur_input_email" class="required">Email * : <span id="ur_input_email_error"></span></label></div>
										<input type="text" id="ur_input_email" class="default_input" value="{{ user.email }}" />
									</div>
									<input type="submit" style="display:none" value="Enregistrer" />
								</form>
							</div>
							<div class="bloc_action" style="margin-top:5px; border:1px solid transparent">
								<span class="btn_edit standar_button">Modifier</span> 
								<span class="btn_save standar_button" id="btn_save_ur_common" data-target="{{ path('user_edit') }}" style="display:none">Enregistrer</span>
								<span class="btn_reset standar_button" style="display:none">Annuler</span> 
								<span class="btn_loading" style="display:none;padding:5px;border:1px solid transparent;margin: 0px 5px 0px 0px;">Chargement...</span> 
							</div>
						</div>
					{% else %}
						<div>
							<div>
								<span id="ur_view_name" style="font-weight:bold">{{ user.name }}</span>
							</div>
							<div>
								<span><i class="fas fa-user-circle i_ur"></i> <span id="ur_view_username">{{ user.username }}</span></span>
								{% if user.location and user.location | trim != "" %}
									 {% set displayLocation = "inline" %}
								{% else %}
									 {% set displayLocation = "none" %}
								{% endif %}
								<span style="display: {{ displayLocation }}" id="ur_view_location_wrap"><i class="fas fa-map-marker-alt i_ur"></i> <span id="ur_view_location">{{ user.location }}</span></span>
							</div>
							<div>
								<span id="ur_view_last_activity">Dernière activité : {{ getDateLabel(user.lastActivity) }} à {{ user.lastActivity | date('H:i') }}</span>
							</div>
						</div>
					{% endif %}
				</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
	<div id="ur_dl">
		<div id="ur_onglet_head">
			<div class="cr">
				<div class="ct">
					<div style="margin:0 10px">
						<span class="tab_ur_item{% if type == 'profile' %} selected{% endif %}" id="tab_ur_about" data-title="{{ user.name }} - profil" data-link="{{ path('user_profile', {'username': user.username}) }}">A propos</span>
						<span class="tab_ur_item{% if type == 'contribution' %} selected{% endif %}" id="tab_ur_contribution" data-title="{{ user.name }} - contributions" data-link="{{ path('user_profile', {'username': user.username, 'type' : 'contribution'}) }}">Contributions</span>
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.id == user.id %}
							<span class="tab_ur_item{% if type == 'setting' %} selected{% endif %}" id="tab_ur_setting" data-title="{{ user.name }} - paramètres" data-link="{{ path('user_profile', {'username': user.username, 'type' : 'setting'}) }}">Paramètres</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="ctab_ur_item{% if type is not defined or type == 'profile' %} selected{% endif %}" id="ctab_ur_about">
			{{ include("user/include/about.html.twig") }}
		</div>
		<div class="ctab_ur_item{% if type == 'contribution' %} selected{% endif %}" id="ctab_ur_contribution">
			<div class="cr">
				<div class="ct">	
					<div class="mg_t10">
						<div id="t">
							<div class="t_header mg_h10">
								<div class="t_header_content">
									<div class="t_header_item selected" id="uevent">
										<div class="t_header_item_text">
											Evènements
										</div>
									</div>
									<div class="t_header_item" id="upost">
										<div class="t_header_item_text">
											Articles
										</div>
									</div>
									<div class="t_header_item" id="ucomment">
										<div class="t_header_item_text">
											Commentaires
										</div>
									</div>
									<div class="t_header_item" id="uevaluation">
										<div class="t_header_item_text">
											Evaluations
										</div>
									</div>
								</div>
								<div class="t_header_sep">
									<div class="t_header_sep_slide">
									</div>
								</div>
							</div>
							<div class="t_content">
								<div class="t_content_item selected" id="c_uevent">
									{{ include("user/include/events.html.twig") }}
								</div>
								<div class="t_content_item" id="c_upost">
									{{ include("user/include/posts.html.twig") }}
								</div>
								<div class="t_content_item" id="c_ucomment">
									{{ include("user/include/comments.html.twig") }}
								</div>
								<div class="t_content_item" id="c_uevaluation">
									{{ include("user/include/evaluations.html.twig") }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.id == user.id %}
			<div class="ctab_ur_item{% if type == 'setting' %} selected{% endif %}" id="ctab_ur_setting">
				{{ include("user/include/setting.html.twig") }}
			</div>
        {% endif %}
	</div>
{% endblock %}
